<div class="row">
	<div class="col-xxl-12">
       <div class="card">
           <div class="card-body">
               
               <ul class="nav nav-pills animation-nav nav-justified gap-2 mb-3" role="tablist">
                   <li class="nav-item waves-effect waves-light">
                       <a class="nav-link active" data-bs-toggle="tab" href="#animation-home" role="tab">
                           Penerbitan LVHI
                       </a>
                   </li>
                   <li class="nav-item waves-effect waves-light">
                       <a class="nav-link" data-bs-toggle="tab" href="#animation-profile" role="tab">
                           TOP 10 Loading Country
                       </a>
                   </li>
                   <li class="nav-item waves-effect waves-light">
                       <a class="nav-link" data-bs-toggle="tab" href="#animation-messages" role="tab">
                           TOP 10 Discharge Port
                       </a>
                   </li>
                   <li class="nav-item waves-effect waves-light">
                       <a class="nav-link" data-bs-toggle="tab" href="#animation-settings" role="tab">
                           TOP 10 HS CODE
                       </a>
                   </li>
               </ul>
               <div class="tab-content text-muted">
                   <div class="tab-pane active" id="animation-home" role="tabpanel">
						<div class="row">
                          
                               <div class="col-xl-6">
									<div class="card">
										<div class="card-header">
											<h4 class="card-title mb-0">Penerbitan LVHI Tahun {($smarty.now|date_format:"%Y")-2}-{$smarty.now|date_format:"%Y"}</h4>
										</div><!-- end card header -->

										<div class="card-body">
											<div id="line_chart1" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr">
												<center><img src="{$base_url}/assets/img/loading.gif" class="loading" style="width:50%"></center>
											</div>
										</div><!-- end card-body -->
									</div><!-- end card -->
								</div>
								<!-- end col -->
								<div class="col-xl-6">
									<div class="card">
										<div class="card-header">
											<h4 class="card-title mb-0">Nilai Import Dalam USD Tahun {($smarty.now|date_format:"%Y")-2}-{$smarty.now|date_format:"%Y"}</h4>
										</div><!-- end card header -->

										<div class="card-body">
											<div id="line_chart2" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr">
												<center><img src="{$base_url}/assets/img/loading.gif" class="loading2" style="width:50%"></center>
											</div>
										</div><!-- end card-body -->
									</div><!-- end card -->
								</div>
						</div>
					
                   </div>
                   <div class="tab-pane" id="animation-profile" role="tabpanel">
                         <div class="row">
							<div class="col-xl-6">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title mb-0">Top 10 Loading Country Tahun {$smarty.now|date_format:"%Y"}(Berdasarkan LVHI)</h4>
									</div><!-- end card header -->

									<div class="card-body">
										<div id="stack_1" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr">
											<center><img src="{$base_url}/assets/img/loading.gif" class="loading3" style="width:50%"></center>
										</div>
									</div><!-- end card-body -->
								</div><!-- end card -->
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title mb-0">Top 10 Loading Country Tahun {$smarty.now|date_format:"%Y"} (Nilai USD)</h4>
									</div><!-- end card header -->

									<div class="card-body">
										<div id="stack_2" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr">
											<center><img src="{$base_url}/assets/img/loading.gif" class="loading4" style="width:50%"></center>
										</div>
									</div><!-- end card-body -->
								</div><!-- end card -->
							</div>
						</div>
                   </div>
                   <div class="tab-pane" id="animation-messages" role="tabpanel">
                       <div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title mb-0">Top 10 Discharge Port Tahun {$smarty.now|date_format:"%Y"} (Berdasarkan LVHI)</h4>
									</div><!-- end card header -->

									<div class="card-body">
										<div id="stack_5" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr">
											<center><img src="{$base_url}/assets/img/loading.gif" class="loading5" style="width:50%"></center>
										</div>
									</div><!-- end card-body -->
								</div><!-- end card -->
							</div>
						</div>
                   </div>
                   <div class="tab-pane" id="animation-settings" role="tabpanel">
                       <div class="row">
							<div class="col-xl-6">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title mb-0">Top 10 HS Code Tahun {$smarty.now|date_format:"%Y"}(Berdasarkan LVHI)</h4>
									</div><!-- end card header -->

									<div class="card-body">
										<div id="stack_6" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr">
											<center><img src="{$base_url}/assets/img/loading.gif" class="loading6" style="width:50%"></center>
										</div>
									</div><!-- end card-body -->
								</div><!-- end card -->
							</div>
							<div class="col-xl-6">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title mb-0">Top 10 HS Code Tahun {$smarty.now|date_format:"%Y"} (Nilai USD)</h4>
									</div><!-- end card header -->

									<div class="card-body">
										<div id="stack_7" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr">
											<center><img src="{$base_url}/assets/img/loading.gif" class="loading7" style="width:50%"></center>
										</div>
									</div><!-- end card-body -->
								</div><!-- end card -->
							</div>
						</div>
                   </div>
               </div>
           </div><!-- end card-body -->
       </div>
   </div>
               
</div>
<!--div class="row">
     <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Top 5 Discharge Port</h4>
            </div>

            <div class="card-body">
                <div id="donat" data-colors='["--vz-success"]' class="apex-charts" dir="ltr">
					<center><img src="{$base_url}/assets/img/loading.gif" class="loading3" style="width:50%"></center>
				</div>
            </div>
        </div>
    </div>
   
	<div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Volume</h4>
            </div>

            <div class="card-body">
				
                <table class="table">
					<tr>
						<td>Month</td>
						<td>Vol</td>
					</tr>
					<tbody class="bd_vol">
						<tr>
							<td colspan="3"><center><img src="{$base_url}/assets/img/loading.gif" class="loading3" style="width:30%"></center><td>
						</tr>
					</tbody>
                </table>
            </div>
        </div>
    </div>
  
   
</div-->
<script>

$.get(url+'total_ls',function(r){
	var js=JSON.parse(r);
	//$('.bd_vol').html(js.tbl);
	//var dt=[{ name: 2022, data: [3, 4, 5, 6, 7, 4, 5, 1, 2, 4, 5, 6] },{ name: 2023, data: [3, 4, 5, 1, 7, 2, 5, 1, 2, 4, 5, 6] }];
	var options = {
		 /* series: [
		  {
			name: "High - 2013",
			data: [28, 29, 33, 36, 32, 32, 33]
		  },
		  {
			name: "Low - 2013",
			data: [12, 11, 14, 18, 17, 13, 13]
		  }
		],*/
		series: js.dt,
		chart: {
		  height: 350,
		  type: 'line',
		  dropShadow: {
			enabled: true,
			color: '#000',
			top: 18,
			left: 7,
			blur: 10,
			opacity: 0.2
		  },
		  toolbar: {
			show: false
		  }
		},
		colors: ['#77B6EA', '#545454'],
		
		dataLabels: {
			enabled: true,
			formatter: function (val, opt) {
				return val.toLocaleString("en-US")
			},
			offsetX: 0,
			dropShadow: {
				enabled: true
			}
		},
		/*
		dataLabels: {
			enabled: true,			
			style: {
				colors: ['#495057']
			},
			formatter: function (val, opt) {
				return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val.toLocaleString("en-US")
			},
			offsetX: 0,
			dropShadow: {
				enabled: true
			}
		},*/
		
		stroke: {
		  curve: 'smooth'
		},
		/*title: {
		  text: 'Value In USD',
		  align: 'left'
		},*/
		grid: {
		  borderColor: '#e7e7e7',
		  row: {
			colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
			opacity: 0.5
		  },
		},
		markers: {
		  size: 1
		},
		xaxis: {
		  categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Agus','Sep','Okt','Nov','Des'],
		  title: {
			text: 'Month'
		  },
		 
		},
		yaxis: {
			/*title: {
				text: 'USD'
			},*/
			labels: {
				show: true,
				formatter: function (value) {
					return value.toLocaleString("en-US");
				}
            },
		 
			min: 0,
		 // max: 40
		},
		
		legend: {
		  position: 'top',
		  horizontalAlign: 'right',
		  floating: true,
		  offsetY: -25,
		  offsetX: -5
		}
	};
	 $('.loading').remove();
	 var chart = new ApexCharts(document.querySelector("#line_chart1"), options);
	 chart.render();
});


$.get(url+'total_usd_ls',function(r){
	var js=JSON.parse(r);
	//$('.bd_vol').html(js.tbl);
	//var dt=[{ name: 2022, data: [3, 4, 5, 6, 7, 4, 5, 1, 2, 4, 5, 6] },{ name: 2023, data: [3, 4, 5, 1, 7, 2, 5, 1, 2, 4, 5, 6] }];
	var options = {
		 /* series: [
		  {
			name: "High - 2013",
			data: [28, 29, 33, 36, 32, 32, 33]
		  },
		  {
			name: "Low - 2013",
			data: [12, 11, 14, 18, 17, 13, 13]
		  }
		],*/
		series: js.dt,
		chart: {
		  height: 350,
		  type: 'line',
		  dropShadow: {
			enabled: true,
			color: '#000',
			top: 18,
			left: 7,
			blur: 10,
			opacity: 0.2
		  },
		  toolbar: {
			show: false
		  }
		},
		colors: ['#77B6EA', '#545454'],
		
		dataLabels: {
			enabled: true,
			formatter: function (val, opt) {
				return val.toLocaleString("en-US")+' $'
			},
			offsetX: 0,
			dropShadow: {
				enabled: true
			}
		},
		/*
		dataLabels: {
			enabled: true,			
			style: {
				colors: ['#495057']
			},
			formatter: function (val, opt) {
				return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val.toLocaleString("en-US")
			},
			offsetX: 0,
			dropShadow: {
				enabled: true
			}
		},*/
		
		stroke: {
		  curve: 'smooth'
		},
		/*title: {
		  text: 'Value In USD',
		  align: 'left'
		},*/
		grid: {
		  borderColor: '#e7e7e7',
		  row: {
			colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
			opacity: 0.5
		  },
		},
		markers: {
		  size: 1
		},
		xaxis: {
		  categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Agus','Sep','Okt','Nov','Des'],
		  title: {
			text: 'Month'
		  },
		 
		},
		yaxis: {
			/*title: {
				text: 'USD'
			},*/
			labels: {
				show: true,
				formatter: function (value) {
					return value.toLocaleString("en-US")+' $';
				}
            },
		 
			min: 0,
		 // max: 40
		},
		
		legend: {
		  position: 'top',
		  horizontalAlign: 'right',
		  floating: true,
		  offsetY: -25,
		  offsetX: -5
		}
	};
	 $('.loading2').remove();
	 var chart = new ApexCharts(document.querySelector("#line_chart2"), options);
	 chart.render();
});


$.get(url+'total_country',function(r){
	var js=JSON.parse(r);
	var options = {
		series: [{
			data: js.data
		}],
		chart: {
		  type: 'bar',
		  height: 350
		},
		/*plotOptions: {
			bar: {
				borderRadius: 4,
				horizontal: true,
			}
		},*/
		plotOptions: {
			bar: {
				barHeight: '100%',
				distributed: true,
				horizontal: true,
				dataLabels: {
					position: 'bottom'
				},
			}
		},
		colors: ['#2b908f', '#f9a3a4', '#90ee7e', '#f48024', '#69d2e7'
				],
		/*dataLabels: {
		  enabled: false
		},*/
		dataLabels: {
			enabled: true,
			textAnchor: 'start',
			style: {
				colors: ['#495057']
			},
			formatter: function (val, opt) {
				return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val.toLocaleString("en-US")
			},
			offsetX: 0,
			dropShadow: {
				enabled: false
			}
		},
		stroke: {
			width: 2,
			colors: ['#fff']
		},
		xaxis: {
			categories: js.contry
		},
		yaxis: {
			labels: {
				show: false,
				formatter: function (value) {
					return value.toLocaleString("en-US");
				}
            }
        },
		tooltip: {
			//theme: 'dark',
			x: {
			  show: false
			},
			y: {
			  title: {
				formatter: function () {
				  return ''
				}
			  }
			}
		}
	};
	
	$('.loading3').remove();
	var chart = new ApexCharts(document.querySelector("#stack_1"), options);
	chart.render();
});

$.get(url+'total_country_usd',function(r){
	var js=JSON.parse(r);
	var options = {
		series: [{
			data: js.data
		}],
		chart: {
		  type: 'bar',
		  height: 350
		},
		/*plotOptions: {
			bar: {
				borderRadius: 4,
				horizontal: true,
			}
		},*/
		plotOptions: {
			bar: {
				barHeight: '100%',
				distributed: true,
				horizontal: true,
				dataLabels: {
					position: 'bottom'
				},
			}
		},
		colors: ['#2b908f', '#f9a3a4', '#90ee7e', '#f48024', '#69d2e7'
				],
		/*dataLabels: {
		  enabled: false
		},*/
		dataLabels: {
			enabled: true,
			textAnchor: 'start',
			style: {
				colors: ['#495057']
			},
			formatter: function (val, opt) {
				return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val.toLocaleString("en-US")+ '$'
			},
			offsetX: 0,
			dropShadow: {
				enabled: false
			}
		},
		stroke: {
			width: 2,
			colors: ['#fff']
		},
		xaxis: {
			categories: js.contry
		},
		yaxis: {
			labels: {
				show: false,
				formatter: function (value) {
					return value.toLocaleString("en-US") + '$';
				}
            }
        },
		tooltip: {
			//theme: 'dark',
			x: {
			  show: false
			},
			y: {
			  title: {
				formatter: function () {
				  return ''
				}
			  }
			}
		}
	};
	
	$('.loading4').remove();
	var chart = new ApexCharts(document.querySelector("#stack_2"), options);
	chart.render();
});
$.get(url+'total_port',function(r){
	var js=JSON.parse(r);
	var options = {
		series: [{
			data: js.data
		}],
		chart: {
		  type: 'bar',
		  height: 350
		},
		/*plotOptions: {
			bar: {
				borderRadius: 4,
				horizontal: true,
			}
		},*/
		plotOptions: {
			bar: {
				barHeight: '100%',
				distributed: true,
				horizontal: true,
				dataLabels: {
					position: 'bottom'
				},
			}
		},
		colors: ['#2b908f', '#f9a3a4', '#90ee7e', '#f48024', '#69d2e7'
				],
		/*dataLabels: {
		  enabled: false
		},*/
		dataLabels: {
			enabled: true,
			textAnchor: 'start',
			style: {
				colors: ['#495057']
			},
			formatter: function (val, opt) {
				return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val.toLocaleString("en-US")+ '$'
			},
			offsetX: 0,
			dropShadow: {
				enabled: false
			}
		},
		stroke: {
			width: 2,
			colors: ['#fff']
		},
		xaxis: {
			categories: js.contry
		},
		yaxis: {
			labels: {
				show: false,
				formatter: function (value) {
					return value.toLocaleString("en-US") + '$';
				}
            }
        },
		tooltip: {
			//theme: 'dark',
			x: {
			  show: false
			},
			y: {
			  title: {
				formatter: function () {
				  return ''
				}
			  }
			}
		}
	};
	
	$('.loading5').remove();
	var chart = new ApexCharts(document.querySelector("#stack_5"), options);
	chart.render();
});    

$.get(url+'total_hs',function(r){
	var js=JSON.parse(r);
	var options = {
		series: [{
			data: js.data
		}],
		chart: {
		  type: 'bar',
		  height: 350
		},
		/*plotOptions: {
			bar: {
				borderRadius: 4,
				horizontal: true,
			}
		},*/
		plotOptions: {
			bar: {
				barHeight: '100%',
				distributed: true,
				horizontal: true,
				dataLabels: {
					position: 'bottom'
				},
			}
		},
		colors: ['#2b908f', '#f9a3a4', '#90ee7e', '#f48024', '#69d2e7'
				],
		/*dataLabels: {
		  enabled: false
		},*/
		dataLabels: {
			enabled: true,
			textAnchor: 'start',
			style: {
				colors: ['#495057']
			},
			formatter: function (val, opt) {
				return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val.toLocaleString("en-US")
			},
			offsetX: 0,
			dropShadow: {
				enabled: false
			}
		},
		stroke: {
			width: 2,
			colors: ['#fff']
		},
		xaxis: {
			categories: js.contry
		},
		yaxis: {
			labels: {
				show: false,
				formatter: function (value) {
					return value.toLocaleString("en-US");
				}
            }
        },
		tooltip: {
			//theme: 'dark',
			x: {
			  show: false
			},
			y: {
			  title: {
				formatter: function () {
				  return ''
				}
			  }
			}
		}
	};
	
	$('.loading6').remove();
	var chart = new ApexCharts(document.querySelector("#stack_6"), options);
	chart.render();
});  
$.get(url+'total_hs_usd',function(r){
	var js=JSON.parse(r);
	var options = {
		series: [{
			data: js.data
		}],
		chart: {
		  type: 'bar',
		  height: 350
		},
		/*plotOptions: {
			bar: {
				borderRadius: 4,
				horizontal: true,
			}
		},*/
		plotOptions: {
			bar: {
				barHeight: '100%',
				distributed: true,
				horizontal: true,
				dataLabels: {
					position: 'bottom'
				},
			}
		},
		colors: ['#2b908f', '#f9a3a4', '#90ee7e', '#f48024', '#69d2e7'
				],
		/*dataLabels: {
		  enabled: false
		},*/
		dataLabels: {
			enabled: true,
			textAnchor: 'start',
			style: {
				colors: ['#495057']
			},
			formatter: function (val, opt) {
				return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val.toLocaleString("en-US")+ '$'
			},
			offsetX: 0,
			dropShadow: {
				enabled: false
			}
		},
		stroke: {
			width: 2,
			colors: ['#fff']
		},
		xaxis: {
			categories: js.contry
		},
		yaxis: {
			labels: {
				show: false,
				formatter: function (value) {
					return value.toLocaleString("en-US") + '$';
				}
            }
        },
		tooltip: {
			//theme: 'dark',
			x: {
			  show: false
			},
			y: {
			  title: {
				formatter: function () {
				  return ''
				}
			  }
			}
		}
	};
	
	$('.loading7').remove();
	var chart = new ApexCharts(document.querySelector("#stack_7"), options);
	chart.render();
});
</script>