<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!--script>document.write(new Date().getFullYear())</script>Copyright © 2023 | Ver.1.0.0-->
				© 2023 | Ver.1
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Verifikasi Halal Impor
                </div>
            </div>
        </div>
    </div>
</footer>