<form action="{$base_url}/simpan_rev/vo" method="POST" id="frm-revvo">
<input type="hidden" name="sts" value="{$sts|default:'add'}">
<input type="hidden" name="id" value="{$dt.id|default:''}">
	<div class="row">
		<div class="col-lg-12">
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Applicant`s Name/Nama Pemohon</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="nama_pemohon" name="nama_pemohon" value="{$dt.nama_pemohon|default:''}" {if $sts|default:'add' eq 'edit'}readonly{/if} required> 
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">VO Number</label>
				</div>
				<div class="col-lg-9">
					<!--input type="text" class="form-control" id="io_number" name="io_number" value="{$dt.io_number|default:''}" {if $sts|default:'add' eq 'edit'}readonly{/if}-->
					<select class="dt_vo" name="io_number" required>
                        <option value="">-- Pilih --</option>
						{foreach from=$vo item=i}
                        <option value="{$i.io_number}" {if $dt.io_number|default:"" eq $i.io_number}selected{/if}>{$i.io_number}</option>
						{/foreach}
                    </select>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Remarks</label>
				</div>
				<div class="col-lg-9">
					<textarea class="form-control" name="remark" id="remark" rows="3" placeholder="" required>{$dt.remark|default:''}</textarea>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Revisi VO File</label>
				</div>
				<div class="col-lg-9">
					 <input class="form-control form-control-sm" id="file" type="file" name="file_revvo">
					 {if $sts|default:'add' eq 'edit'}ex file : {$dt.dok_attach|default:''}{/if}
				</div>
			</div>
			<div align="right"><a class="btn btn-primary " id="simpan_revvo" >Save</a></div>
		</div>
	</div>
</form>

<script>
$('#simpan_revvo').bind('click',function(){

	// Get form
	var form = $('#frm-revvo')[0];

	// Create an FormData object 
	var data = new FormData(form);

	$.ajax({
		type: "POST",
		enctype: 'multipart/form-data',
		url:'{$base_url}/simpan_rev/vo',
		data: data,
		processData: false,
		contentType: false,
		cache: false,
		timeout: 600000,
		beforeSend:function(){
			//$('#modal_loading').modal('show');
			//launchpreloader();
			var valid=form.reportValidity();
			if(!valid){
				alert('Isi Form Yang Kosong');
				return false;
			}
		},
		complete:function(){
			//stopPreloader();
			//$('#modal_loading').modal('hide');
		},
		success:function(result){
			if(result==1){
				$('#myModal').modal('hide');
				$('#isi_toast').html('Data Was Uploaded');
				$('.toast').toast('show');
				tbl_vo.ajax.reload( null, false );
			}else{
				alert('Data Failed');
			}
		}
	});
});
$('.dt_vo').select2({
	dropdownParent: $('#myModal'),
});
/*
$('.dt_vo').select2({
  ajax: {
    url: '{$base_url}/dt-revisi/js_vo',
	//dropdownParent: $('#myModal .modal-content'),
    dataType: 'json',
	
	
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  }
});
*/
</script>