<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
					<div style="display: inline-block; vertical-align: middle;">
						<h5 class="card-title mb-0">LVHI Revission</h5>
					</div>
					<div style="display: inline-block; vertical-align: middle; float:right">
                       <!--a class="btn btn-primary crud" id="tambah" mod="form_supplier" onclick="get_form(this)" aksi="add" dt_ip_no="0" judul_header="Form Data IP/IT/SPI" judul_body="IP/IT/SPI" >Add</a-->
					   <a class="btn btn-primary crud" id="tambah" mod="form_revls" onclick="get_form(this)" aksi="add" dt_ip_no="0" judul_header="Revisi LS" judul_body="" >Add</a>
                   </div>
                </div>
                <div class="card-body">
					<!--div class="col-lg-12">
                       <center> <a class="btn btn-primary crud" id="tambah" mod="form_supplier" onclick="get_form(this)" aksi="add" dt_ip_no="0" judul_header="Form Data IP/IT/SPI" judul_body="IP/IT/SPI" >Add New</a></center>
                   </div><br-->
                    <table id="list_revls" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>VO Number</th>
								<th>Partial</th>
                                <th>LVHI Number</th>
                                <th>Applicant`s Name</th>
								<th>Submission Date</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
$(document).ready(function(){
	 $('.crud').on('click',function(){
		
	});

  	$('.crud2').bind('click',function(){
		alert ('xx')
	});
});
	var tbl_ls=$('#list_revls').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt-revisi/ls'
      },
      'columns': [
         { data: 'rowID',
			"sWidth": "5%",
		},
         { data: 'io_number' },
         { data: 'partial_number'},
		 { data: 'ls_number',
			"sWidth": "12%", },
 		 { data: 'nama_pemohon',
			"sWidth": "15%", },
 		 { data: 'create_date',
			"sWidth": "18%", },
		 { data: 'remark' },
          { data: null,
			"sWidth": "12%",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_form(this)" mod="form_revls" aksi="edit" dt_id="'+ data.id +'" judul_header="LVHI Revision" judul_body="" >Edit</a> &nbsp;'
					html +='<a class="btn btn-danger btn-sm crud2" id="delete" onclick="get_form(this)" mod="form_revls" aksi="delete" dt_id="'+ data.id +'" judul_header="LVHI Revision" judul_body="" >Delete</a>'
				return html;
			 }
		 },
         
      ]
   });

function get_form(obj){
	//alert($(obj).attr('mod'));
		var mod=$(obj).attr('mod');
		var aksi=$(obj).attr('aksi');
		var dt_id=$(obj).attr('dt_id');
		var judul_header=$(obj).attr('judul_header');
		var judul_body=$(obj).attr('judul_body');
		if(aksi=='delete'){
			$.post('{$base_url}/simpan_rev/ls',{ sts:'delete',mod:mod,aksi:aksi,id:dt_id },function(r){
				if(r==1){
					$('#isi_toast').html('Data Was Deleted');
					$('.toast').toast('show');
					tbl_ls.ajax.reload( null, false );
				}
			});
		}else{
			$.post(url+'konten_revisi/form_revisi_ls',{ mod:mod,aksi:aksi,id:dt_id },function(r){
				$('#judul_body').html(judul_body);
				$('#judul_header').html(judul_header);
				$('#isi_body').html(r);
				$('#myModal').modal('show');
			});
		}
}

</script>