<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div style="display: inline-block; vertical-align: middle;">
						<h5 class="card-title mb-0">Exporter</h5>
					</div>
					<div style="display: inline-block; vertical-align: middle; float:right">
						<!--a class="btn btn-primary crud" id="tambah" mod="form_exporter" onclick="get_form(this)" aksi="add" dt_item_no="0" judul_header="Form Data Exporter" judul_body="Exporter" >New</a-->
						<a class="btn btn-primary crud" id="tambah" mod="form_exporter" onclick="get_form(this)" aksi="add" dt_item_no="0" judul_header="Exporter" judul_body="" >Add</a>
					</div>
				</div>
                <div class="card-body">
					<!--div class="col-lg-12">
                       <center> <a class="btn btn-primary crud" id="tambah" mod="form_exporter" onclick="get_form(this)" aksi="add" dt_item_no="0" judul_header="Form Data Exporter" judul_body="Exporter" >Add New</a></center>
                    </div><br-->
                    <table id="list_exporter" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Exporter Name</th>
                                <th>Address</th>
                                <th>Contact</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
$(document).ready(function(){
	 $('.crud').on('click',function(){
		
	});

  	$('.crud2').bind('click',function(){
		alert ('xx')
	});
});
	$('#list_exporter').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt-ref/exporter'
      },
      'columns': [
         { data: 'rowID',
			"sWidth": "5%",
			},
		 { data: 'name' },
         { data: 'address' },
         { data: 'contact_name' },
         { data: null,
			"mRender": function(data, type, full) {
				return 'Phone: '+ data.phone +'<br>Mobile: '+data.mobile_phone;
			 }
		 },
         { data: 'email_address' },
         { data: null,
			"sWidth": "12%",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_form(this)" mod="form_exporter" aksi="edit" dt_item_no="'+ data.item_no +'" judul_header="Exporter Form" judul_body="" >Edit</a> &nbsp;'
					html +='<a class="btn btn-danger btn-sm crud2" id="delete" onclick="get_form(this)" mod="form_exporter" aksi="delete" dt_item_no="'+ data.item_no +'" judul_header="Exporter Form" judul_body="" >Delete</a>'
				return html;
			 }
		 },
         
      ]
   });

function get_form(obj){
	//alert($(obj).attr('mod'));
		var mod=$(obj).attr('mod');
		var aksi=$(obj).attr('aksi');
		var dt_item_no=$(obj).attr('dt_item_no');
		var judul_header=$(obj).attr('judul_header');
		var judul_body=$(obj).attr('judul_body');
		if(aksi=='delete'){
			$.post('{$base_url}/simpan_ref/exporter',{ sts:'delete',mod:mod,aksi:aksi,item_no:dt_item_no },function(r){
				if(r==1){
					alert('Data Deleted.');
					window.location.href = "{$base_url}/list-exporter";
				}
			});
		}else{
			$.post(url+'konten_ref/exporter',{ mod:mod,aksi:aksi,dt_item_no:dt_item_no },function(r){
				$('#judul_body').html(judul_body);
				$('#judul_header').html(judul_header);
				$('#isi_body').html(r);
				$('#myModal').modal('show');
			});
		}
}

</script>