<div class="row">
	<div class="card">
      <div class="card-header">
          <h5 class="card-title mb-0">List HS-Module</h5>
		
      </div>
      <div class="card-body">

			<form action="{$base_url}/simpan_ref/hs" method="POST" id="frm_hs">
			<input type="hidden" name="sts" value="{$sts|default:'add'}">
			<input type="hidden" name="dhs_id" value="{$dt.header.dhs_id|default:''}">
				<div class="row">
					<div class="col-lg-12">
						
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Draft Name</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group">
                                   
                                        <input type="text" class="form-control" id="nameInput" name="name" value="{$dt.header.dhs_title|default:''}" required>
										<button class="btn btn-success" type="button" id="button-addon2" onclick="tambah_row('bd_hs')">Add Row</button>
                                   
                                    
                                </div>
								
							</div>
						</div>
						<div class="row mb-3">
							<div class="table-responsive">
								<table  class="table nowrap align-middle" style="width:100%">
									<thead>
										<tr>
											 <th>No</th>
											 <th>HS Code</th>
											 <th style="width:300px">Goods Description</th>
											 <th>Country of Origin</th>
											 <th>Quantity</th>
											 <th>UoM (Unit)</th>
											 <th >Net Weight</th>
											 <th>UoM (Unit)</th>
											 <th>Preference Facility</th>
											 <th>No. IP/IT/SPI</th>
											 <th>SPPT SNI</th>
										 </tr>
									 </thead>
									 <tbody class='bd_hs'>
										{if $sts|default:'add' eq 'add'}
										{for $foo=1 to 5 max=5}
										<tr>
										   <td>{$foo}</td>
										   <td>
												<select class="form-control-sm " name="hs_code[]" aria-label="Default select example">
												   <option value="">-- Select --</option>
												   {foreach from=$hs item=i}
												   <option value="{$i.hs_code}">{$i.hs_code}</option>
												   {/foreach}
												</select>
												
										   </td>
										   <td ><input type="text" name="hs_description[]" value="" class="form-control form-control-sm" style="width:200px"></td>
										   <td>
												<select class="form-control-sm " name="country_code[]" aria-label="Default select example" style="width:100px">
												   <option value="">-- Select --</option>
												   {foreach from=$contri item=i}
												   <option value="{$i.country_code}">{$i.country_name}</option>
												   {/foreach}
												</select>
										   </td>
										   <td><input type="text" name="quantity[]" value="" class="form-control form-control-sm"></td>
										   <td>
												<select class="form-control-sm " name="unit[]" aria-label="Default select example">
												   <option value="">-- Select --</option>
												   
												   <option value="NIU">NIU</option>
												   <option value="SET">SET</option>
												   <option value="TNE">TNE</option>
												   
												</select>
											</td>
										   <td ><input type="text" name="weight[]" value="" class="form-control form-control-sm" style="width:80px;"></td>
										   <td>
												<select class="form-control-sm " name="unit_net[]" aria-label="Default select example">
												   <option value="">-- Select --</option>
												   
												   <option value="NIU">NIU</option>
												   <option value="SET">SET</option>
												   <option value="TNE">TNE</option>
												   
												</select>
												
											</td>
												
										   <td>
												<select class="form-control-sm" id="fac_23363" name="pref_facility[]">
													<option value="">Pilih</option>
													<option value="AANZFTA">AANZFTA</option>
													<option value="ACFTA">ACFTA</option>
													<option value="AIFTA">AIFTA</option>
													<option value="AJCEP">AJCEP</option>
													<option value="AKFTA">AKFTA</option>
													<option value="ATIGA">ATIGA</option>
													<option value="ECCPA">ECCPA</option>
													<option value="IFTA">IFTA</option>
													<option value="IJEPA">IJEPA</option>
													<option value="IPPTA">IPPTA</option>
												</select>
												
										   </td>
										   <td><input type="text" name="license_no[]" value="" class="form-control form-control-sm"></td>
										   <td><input type="text" name="sppt_sni[]" value="" class="form-control form-control-sm"></td>
										</tr>
										{/for}
										{else}
										{foreach from=$dt.detil item=z name=y}
										<tr>
										   <td>{$smarty.foreach.y.iteration}</td>
										   <td>
												<select class="form-control-sm " name="hs_code[]" aria-label="Default select example">
												   <option value="">-- Select --</option>
												   {foreach from=$hs item=i}
												   <option value="{$i.hs_code}" {if $z.hs_code eq $i.hs_code}selected{/if}>{$i.hs_code}</option>
												   {/foreach}
												</select>
												
										   </td>
										   <td ><input type="text" name="hs_description[]" value="{$z.hs_description|default:''}" class="form-control form-control-sm" style="width:200px"></td>
										   <td>
												<select class="form-control-sm " name="country_code[]" aria-label="Default select example" style="width:100px">
												   <option value="">-- Select --</option>
												   {foreach from=$contri item=i}
												   <option value="{$i.country_code}" {if $z.country_code eq $i.country_code}selected{/if}>{$i.country_name}</option>
												   {/foreach}
												</select>
										   </td>
										   <td><input type="text" name="quantity[]" value="{$z.quantity|default:''}" class="form-control form-control-sm"></td>
										   <td>
												<select class="form-control-sm " name="unit[]" aria-label="Default select example">
												   <option value="">-- Select --</option>
												   
												   <option value="NIU" {if $z.unit eq 'NIU'}selected{/if}>NIU</option>
												   <option value="SET" {if $z.unit eq 'SET'}selected{/if}>SET</option>
												   <option value="TNE" {if $z.unit eq 'TNE'}selected{/if}>TNE</option>
												   
												</select>
											</td>
										   <td><input type="text" name="weight[]" value="{$z.weight|default:''}" class="form-control form-control-sm"></td>
										   <td>
												<select class="form-control-sm " name="unit_net[]" aria-label="Default select example">
												   <option value="">-- Select --</option>
												   
												   <option value="NIU" {if $z.unit eq 'NIU'}selected{/if}>NIU</option>
												   <option value="SET" {if $z.unit eq 'SET'}selected{/if}>SET</option>
												   <option value="TNE" {if $z.unit eq 'TNE'}selected{/if}>TNE</option>
												   
												</select>
												
											</td>
												
										   <td>
												<select class="form-control-sm" id="fac_23363" name="pref_facility[]">
													<option value="">Pilih</option>
													<option value="AANZFTA" {if $z.pref_facility eq 'AANZFTA'}selected{/if}>AANZFTA</option>
													<option value="ACFTA" {if $z.pref_facility eq 'ACFTA'}selected{/if}>ACFTA</option>
													<option value="AIFTA" {if $z.pref_facility eq 'AIFTA'}selected{/if}>AIFTA</option>
													<option value="AJCEP" {if $z.pref_facility eq 'AJCEP'}selected{/if}>AJCEP</option>
													<option value="AKFTA" {if $z.pref_facility eq 'AKFTA'}selected{/if}>AKFTA</option>
													<option value="ATIGA" {if $z.pref_facility eq 'ATIGA'}selected{/if}>ATIGA</option>
													<option value="ECCPA" {if $z.pref_facility eq 'ECCPA'}selected{/if}>ECCPA</option>
													<option value="IFTA" {if $z.pref_facility eq 'IFTA'}selected{/if}>IFTA</option>
													<option value="IJEPA" {if $z.pref_facility eq 'IJEPA'}selected{/if}>IJEPA</option>
													<option value="IPPTA" {if $z.pref_facility eq 'IPPTA'}selected{/if}>IPPTA</option>
												</select>
												
										   </td>
										   <td><input type="text" name="license_no[]" value="{$z.license_no|default:''}" class="form-control form-control-sm"></td>
										   <td><input type="text" name="sppt_sni[]" value="{$z.sppt_sni|default:''}" class="form-control form-control-sm"></td>
										</tr>
										{/foreach}
										{/if}
									 </tbody>
								</table>
							</div>
						</div>
						
						<center><a class="btn btn-primary " id="simpan_hs" >Save Changes</a>
						<a class="btn btn-warning " onclick="$('#list_hs').show();$('#detil_hs').hide();">Back </a></center>
					</div>
				</div>
			</form>
		</div>	
	</div>
</div>

<script>
var idx_row={$jml_row|default:6}; 
var opt_hs;
	opt_hs ='<option value="" >-- Select --</option>';
	opt_hs +='{foreach from=$hs item=i}';
	opt_hs +='<option value="{$i.hs_code}" >{$i.hs_code}</option>';
	opt_hs +='{/foreach}';

var opt_contri;
	opt_contri ='<option value="" >-- Select --</option>';
	opt_contri +='{foreach from=$contri item=i}';
	opt_contri +='<option value="{$i.country_code}" >{$i.country_name|strip}</option>';
	opt_contri +='{/foreach}';
	
	
$('#simpan_hs').bind('click',function(){
	var a=$('#frm_hs').serialize();
	var form = $('#frm_hs')[0];
	$.ajax({
		type:'post',
		url:'{$base_url}/simpan_ref/hs',
		data:a,
		beforeSend:function(){
			//$('#modal_loading').modal('show');
			//launchpreloader();
			var valid=form.reportValidity();
			if(!valid){
				alert('Isi Form Yang Kosong');
				return false;
			}
		},
		complete:function(){
			//stopPreloader();
			$('#modal_loading').modal('hide');
		},
		success:function(result){
			if(result==1){
				window.location.href = '{$base_url}/list-hs';
				$('#modal_loading').modal('hide');
			}else{
				alert('Data Failed');
			}
			 
		}
	});
});

</script>