<form action="{$base_url}/simpan_ref/supplier" method="POST" id="frm-ip">
<input type="hidden" name="sts" value="{$sts|default:'add'}">
<input type="hidden" name="item_no" value="{$dt.item_no|default:''}">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">IP/IT/SPI Number</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="ip_number" name="ip_number" value="{$dt.ip_number|default:''}" {if $sts|default:'add' eq 'edit'}readonly{/if} required> 
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Type</label>
				</div>
				<div class="col-lg-9">
					<select class="form-select mb-3" aria-label="Default select example" name="ip_or_it" id="ip_or_it" required>
						<option selected value="IP">IP</option>
						<option value="IT">IT</option>
						<option value="SPI">SPI</option>
					
					</select>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">File IP/IT/SPI</label>
				</div>
				<div class="col-lg-9">
					 <input class="form-control form-control-sm" id="file" type="file" name="file_ip" required>
				</div>
			</div>
			<div align="right"><a class="btn btn-primary " id="simpan_supp" >Save</a></div>
		</div>
	</div>
</form>

<script>
$('#simpan_supp').bind('click',function(){

	// Get form
        var form = $('#frm-ip')[0];

		// Create an FormData object 
        var data = new FormData(form);

		// If you want to add an extra field for the FormData
        //data.append("CustomField", "This is some extra data, testing");

		// disabled the submit button
       // $("#btnSubmit").prop("disabled", true);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url:'{$base_url}/simpan_ref/ip',
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            beforeSend:function(){
				//$('#modal_loading').modal('show');
				//launchpreloader();
				var valid=form.reportValidity();
				if(!valid){
					alert('Isi Form Yang Kosong');
					return false;
				}
			},
			complete:function(){
				//stopPreloader();
				$('#modal_loading').modal('hide');
			},
			success:function(result){
				if(result==1){
					window.location.href = '{$base_url}/ip';
					$('#modal_loading').modal('hide');
				}else{
					alert('Data Failed');
				}
				 
			}
        });
		
		

});

</script>