<form action="{$base_url}/simpan_ref/supplier" method="POST" id="frm-supp">
<input type="hidden" name="sts" value="{$sts|default:'add'}">
<input type="hidden" name="item_no" value="{$dt.item_no|default:''}">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Name</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="nameInput" name="name" value="{$dt.name|default:''}" required> 
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Contact</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="nameInput" name="contact" value="{$dt.contact|default:''}" required>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Address</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="nameInput" name="address" value="{$dt.address|default:''}" required>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Phone</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="nameInput" name="phone" value="{$dt.phone|default:''}" required>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Mobile Phone</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="nameInput" name="mobile_phone" value="{$dt.mobile_phone|default:''}" required>
				</div>
			</div>
			<!--div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Fax</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="nameInput" name="fax" value="{$dt.fax|default:''}">
				</div>
			</div-->
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Email</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="nameInput" name="email_address" value="{$dt.email_address|default:''}" required>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Country</label>
				</div>
				<div class="col-lg-9">
					<!--input type="text" class="form-control" id="nameInput" name="country_code" value="{$dt.country_code|default:''}"-->
					<select class="form-control " name="country_code" aria-label="Default select example" required>
						<option value="">-- Select --</option>
						{foreach from=$contri item=i}
						<option value="{$i.country_code}" {if $dt.country_code|default:'' eq $i.country_code}selected{/if}>{$i.country_name}</option>
						{/foreach}
					</select>
				</div>
			</div>
			<div align="right"><a class="btn btn-primary " id="simpan_supp" >Save</a></div>
		</div>
	</div>
</form>

<script>
$('#simpan_supp').bind('click',function(){
	var a=$('#frm-supp').serialize();
	var form = $('#frm-supp')[0];
	
	// Create an FormData object 
	var data = new FormData(form);
	$.ajax({
		type:'post',
		url:'{$base_url}/simpan_ref/supplier',
		data:a,
		beforeSend:function(){
			//$('#modal_loading').modal('show');
			//launchpreloader();
			var valid=form.reportValidity();
			if(!valid){
				alert('Isi Form Yang Kosong');
				return false;
			}
		},
		complete:function(){
			//stopPreloader();
			$('#modal_loading').modal('hide');
		},
		success:function(result){
			if(result==1){
				window.location.href = '{$base_url}/list-supplier';
				$('#modal_loading').modal('hide');
			}else{
				alert('Data Failed');
			}
			 
		}
	});
});

</script>