<div class="row">
        <div class="col-lg-12" id="list_hs">
            <div class="card">
                <div class="card-header">
					<div style="display: inline-block; vertical-align: middle;>
						<h5 class="card-title mb-0">HS-Module</h5>
					</div>
					<div style="display: inline-block; vertical-align: middle; float:right">
						<!--a class="btn btn-primary crud" id="tambah" mod="form_hs" onclick="get_form(this)" aksi="add" dt_item_no="0" judul_header="Form HS-Module" judul_body="HS-Module" >Add</a-->
						<a class="btn btn-primary crud" id="tambah" mod="form_hs" onclick="get_form(this)" aksi="add" dt_item_no="0" judul_header="HS-Module Form" judul_body="" >Add</a>
					</div>
                </div>
                <div class="card-body">
					<!--div class="col-lg-12">
                       <center> <a class="btn btn-primary crud" id="tambah" mod="form_hs" onclick="get_form(this)" aksi="add" dt_item_no="0" judul_header="Form HS-Module" judul_body="HS-Module" >Add New</a></center>
                   </div><br-->
                    <table id="list_supplier" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Draft Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
		<div class="col-lg-12" id="detil_hs" style="display:none;">

		</div>
</div>

<script>
$(document).ready(function(){
	 $('.crud').on('click',function(){
		
	});

  	$('.crud2').bind('click',function(){
		alert ('xx')
	});
});
	$('#list_supplier').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt-ref/hs'
      },
      'columns': [
         { data: 'rowID',
			"sWidth": "5%", },
         { data: 'dhs_title',
			"sWidth": "50%", },
         { data: 'dhs_date2' },
         { data: null,
			"sWidth": "12%",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_form(this)" mod="form_supplier" aksi="edit" dt_id="'+ data.dhs_id +'" judul_header="HS-Module Form" judul_body="" >Edit</a> &nbsp;'
					html +='<a class="btn btn-danger btn-sm crud2" id="delete" onclick="get_form(this)" mod="form_supplier" aksi="delete" dt_id="'+ data.dhs_id +'" judul_header="HS-Module Form" judul_body="" >Delete</a>'
				return html;
			 }
		 },
         
      ]
   });

function get_form(obj){
	//alert($(obj).attr('mod'));
		var mod=$(obj).attr('mod');
		var aksi=$(obj).attr('aksi');
		var dhs_id=$(obj).attr('dt_id');
		var judul_header=$(obj).attr('judul_header');
		var judul_body=$(obj).attr('judul_body');
		if(aksi=='delete'){
			$.post('{$base_url}/simpan_ref/hs',{ sts:'delete',mod:mod,aksi:aksi,dhs_id:dhs_id },function(r){
				if(r==1){
					alert('Sukses');
					window.location.href = "{$base_url}/list-hs";
				}
			});
		}else{
			$.post(url+'konten_ref/hs',{ mod:mod,aksi:aksi,dhs_id:dhs_id },function(r){
				//$('#judul_body').html(judul_body);
				//$('#judul_header').html(judul_header);
				//$('#isi_body').html(r);
				//$('#myModal').modal('show');
				$('#list_hs').hide();
				$('#detil_hs').show().html(r);
			});
		}
}

</script>