<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
					<div style="display: inline-block; vertical-align: middle;">
						<h5 class="card-title mb-0">IP/IT/SPI</h5>
					</div>
					<div style="display: inline-block; vertical-align: middle; float:right">
                       <!--a class="btn btn-primary crud" id="tambah" mod="form_supplier" onclick="get_form(this)" aksi="add" dt_ip_no="0" judul_header="Form Data IP/IT/SPI" judul_body="IP/IT/SPI" >Add</a-->
					   <a class="btn btn-primary crud" id="tambah" mod="form_supplier" onclick="get_form(this)" aksi="add" dt_ip_no="0" judul_header="IP/IT/SPI" judul_body="" >Add</a>
                   </div>
                </div>
                <div class="card-body">
					<!--div class="col-lg-12">
                       <center> <a class="btn btn-primary crud" id="tambah" mod="form_supplier" onclick="get_form(this)" aksi="add" dt_ip_no="0" judul_header="Form Data IP/IT/SPI" judul_body="IP/IT/SPI" >Add New</a></center>
                   </div><br-->
                    <table id="list_supplier" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>IP/IT/SPI Number</th>
                                <th>Date</th>
								<th>Expiry Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
$(document).ready(function(){
	 $('.crud').on('click',function(){
		
	});

  	$('.crud2').bind('click',function(){
		alert ('xx')
	});
});
	$('#list_supplier').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt-ref/ip'
      },
      'columns': [
         { data: 'rowID',
			"sWidth": "5%",
		},
         { data: 'ip_number' },
         { data: 'ip_date2',
			"sWidth": "20%", },
		 { data: 'ip_expiry_date2',
			"sWidth": "20%", },
         { data: null,
			"sWidth": "12%",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_form(this)" mod="form_ip" aksi="edit" dt_ip_no="'+ data.ip_number +'" judul_header="IP/IT/SPI Form" judul_body="" >Edit</a> &nbsp;'
					html +='<a class="btn btn-danger btn-sm crud2" id="delete" onclick="get_form(this)" mod="form_ip" aksi="delete" dt_ip_no="'+ data.ip_number +'" judul_header="IP/IT/SPI Form" judul_body="" >Delete</a>'
				return html;
			 }
		 },
         
      ]
   });

function get_form(obj){
	//alert($(obj).attr('mod'));
		var mod=$(obj).attr('mod');
		var aksi=$(obj).attr('aksi');
		var dt_ip_no=$(obj).attr('dt_ip_no');
		var judul_header=$(obj).attr('judul_header');
		var judul_body=$(obj).attr('judul_body');
		if(aksi=='delete'){
			$.post('{$base_url}/simpan_ref/ip',{ sts:'delete',mod:mod,aksi:aksi,ip_number:dt_ip_no },function(r){
				if(r==1){
					alert('Data Deleted');
					window.location.href = "{$base_url}/ip";
				}
			});
		}else{
			$.post(url+'konten_ref/ip',{ mod:mod,aksi:aksi,ip_number:dt_ip_no },function(r){
				$('#judul_body').html(judul_body);
				$('#judul_header').html(judul_header);
				$('#isi_body').html(r);
				$('#myModal').modal('show');
			});
		}
}

</script>