<form action="{$base_url}/simpan_ref/supplier" method="POST" id="frm-bill">
<table cellpadding="0" cellspacing="2" border="0" style="padding-top:0px;width:100%;border: 1px solid #C0C0C0;" class="table">
	<thead>
		<tr style='background:#BAD2DC;'>
			<th style="width:5%;">No.</th>
			<th style="width:15%;">VO Number</th>
			<th style="width:20%;">LVHI Number</th>
			<th style="width:25%;">Payments</th>
			<th style="width:35%;text-align:right;">Total</th>
		</tr>
	</thead>
	<tbody>
		{assign var=tot value=0}
		{assign var=desc value=0}
		{assign var=nilai value=0}
		{assign var=idxchioce value=0}
		{foreach from=$dt item=i name=x}
		<tr>
			<td>{$smarty.foreach.x.iteration}<input type='hidden' name="Doc_No[]" value="{$i.Doc_No}" /></td>
			<td>{$i.Vo_No}<input type='hidden' name="Vo_No[]" value="{$i.Vo_No}" /></td>
			<td>{$i.LS}<input type='hidden' name="LS[]" value="{$i.LS}" /></td>
			<td><input type='hidden' name="TP[]" value="{$i.Tp}" />
				{if $i.Tp eq 'J' || $i.Tp eq 'T'}
					Jaminan 50%
					{$desc='Jaminan 50%'}
					{$idxchioce=1}
					
				{else}
					{if $i.mAmt1 neq 0}Pelunasan + PPn{$desc='Pelunasan + PPn'}{$idxchioce=1}</td>{/if}
					{if $i.mAmt2 neq 0}Pelunasan + PPn - PPh{$desc='Pelunasan + PPn - PPh'}{$idxchioce=2}</td>{/if}
					{if $i.mAmt3 neq 0}Pelunasan + PPn - PPh(Perubahan){$desc='Pelunasan + PPn - PPh(Perubahan)'}{$idxchioce=3}</td>{/if}
				{/if}
				<input type='hidden' name="TP[]" value="{$i.Tp}" />
				<input type='hidden' name="IdxChoice[]" value="{$idxchioce}" />
				<input type='hidden' name="DESC[]" value="{$desc}" />
			</td>
			<td style="text-align:right;">
				{if $i.Tp eq 'J' || $i.Tp eq 'T'}
					{$i.mAmt1|number_format:2:".":","}
					{$nilai=$i.mAmt1}
					{assign var=tot value=$tot+$i.mAmt1}
				{else}
					{if $i.mAmt1 neq 0}{$i.mAmt1|number_format:2:".":","}{assign var=tot value=$tot+$i.mAmt1}{$nilai=$i.mAmt1}{/if}
					{if $i.mAmt2 neq 0}{$i.mAmt2|number_format:2:".":","}{assign var=tot value=$tot+$i.mAmt2}{$nilai=$i.mAmt2}{/if}
					{if $i.mAmt3 neq 0}{$i.mAmt3|number_format:2:".":","}{assign var=tot value=$tot+$i.mAmt3}{$nilai=$i.mAmt3}{/if}
				{/if}
				<input type='hidden' name="NILAI[]" value="{$nilai}" />
			</td>
		</tr>
		{/foreach}
	</tbody>
	<tfoot>
		<tr style='background:#BAD2DC;color:navy;' align='center'>
			<td align="left" colspan="4" style='padding:5px;'>GrandTotal</td>
			<td align="right">
				<!--input type="hidden" name="total" value="{$tot}" id="total_bill_val"-->
				<b>Rp.<span id="total_bill">{$tot|number_format:2:'.':','}</span></b>
				<input type='hidden' id="total_hidden" name="grand_total" value="{$tot}" />
			</td>
		</tr>
	</tfoot>
</table>


<input type="hidden" name="sts" value="{$sts|default:'add'}">
<input type="hidden" name="item_no" value="{$dt.item_no|default:''}">
	<div class="row">
		<div class="col-lg-12">
			
		
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Payment Method</label>
				</div>
				<div class="col-lg-9">
					<select class="form-select mb-3" aria-label="Default select example" name="ip_or_it" id="ip_or_it">
						<option selected value="mva">MVA Mandiri</option>
					</select>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Security Token</label>
				</div>
				<div class="col-lg-9">
					<div id="imgCapcha" style="font-family: inherit; padding-bottom: 5px; background-repeat: no-repeat; background-position: 0px 0px; text-indent: 120px;" width='300'>&nbsp;
						<img onClick="refreshCaptcha('imgCapcha');" style="cursor: pointer; width:32px" src="{$base_url}/assets/img/ref.png">&nbsp;
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">&nbsp;</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="cp" name="cp" value="" placeholder="input security code"> 
				</div>
			</div>
			<div align="right"><a class="btn btn-danger " id="mva" >Generate MVA</a></div>
		</div>
	</div>
</form>
					


<script>
refreshCaptcha('imgCapcha');
$('#mva').bind('click',function(){
	if($('#cp').val()!=''){
		$.get(url + 'CheckCaptcha/' + $('#cp').val(), function(resp) {
			if (resp == 'sama') {
				var a=$('#frm-bill').serialize();
				$.ajax({
					type:'post',
					url:'{$base_url}/set_pay/bill',
					data:a,
					beforeSend:function(){
						//$('#modal_loading').modal('show');
						//launchpreloader();
					},
					complete:function(){
						//stopPreloader();
						//$('#modal_loading').modal('hide');
					},
					success:function(result){
						if(result==1){
							alert('Billing Payment Process');
							window.location.href = '{$base_url}/histori';
							//$('#modal_loading').modal('hide');
						}else{
							alert('Data Failed');
							console.log(result);
							
						}
						 
					}
				});
				
				//alert('Sma');
			}else{
				refreshCaptcha('imgCapcha');
				alert('Security Token Invalid');
			}
		});
	}else{
		alert('Input Security Token');
	}
});
</script>