	<div id='header'>
		<table width="100%">
			<tr>
				<!--td style="width: 120px; height: 80px;"><img src='assets/img/idsurvey.png' width='100px' /></td-->
				<td style="height: 80px; color: #00000; text-align: center;" valign="top">
					<div style="font-family:arial; font-weight:bold;">		
					<h5>
						<br/><br/>
						KSO SUCOFINDO - SURVEYOR INDONESIA<br /><br />{if $mod eq 'inv'}BILLING SUMMARY{else}KONFIRMASI PEMBAYARAN{/if}
						
					</h5>
					</div>
					
					<br />
				</td>
				<!--td style="width: 120px; height: 80px;">
					<img src='assets/img/kso_scisi.png' width='100px' />
				</td-->
			</tr>
			
			<tr>
				<td colspan='3'><hr /></td>
			</tr>
		</table>
	</div> 
