<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
					<div style="display: inline-block; vertical-align: middle;">
						<h5 class="card-title mb-0">Payment History</h5>
					</div>
					
                </div>
                <div class="card-body">
					<!--div class="col-lg-12">
                       <center> <a class="btn btn-primary crud" id="tambah" mod="form_supplier" onclick="get_form(this)" aksi="add" dt_ip_no="0" judul_header="Form Data IP/IT/SPI" judul_body="IP/IT/SPI" >Add New</a></center>
                   </div><br-->
                    <table id="list_supplier" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>MVA/Kode Bayar</th>
                                <th>Submit Date</th>
								<th>Total Payment</th>
                                <th>Status</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
$(document).ready(function(){
	 $('.crud').on('click',function(){
		
	});

  	$('.crud2').bind('click',function(){
		alert ('xx')
	});
});
	$('#list_supplier').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt-pay/his_bill'
      },
      'columns': [
         { data: 'rowID',
			"sWidth": "5%",
		},
         { data: 'MvaNoId' },
         { data: 'tgl',
			"sWidth": "20%", },
		 { data: 'Amount',
			"sWidth": "20%", },
		{ data: null,
			"sWidth": "20%",
			"mRender": function(data, type, full) {
				if (data.Status == 1){
					if (data.Link != '-'){
						return '<a href='+data.Link+' target="_blank">Sudah Dibayar</a>';
					}
					else
						return 'Sudah Dibayar';
				}								
				else{
					if (data.Link != '-'){
						return '<a href='+data.Link+' target="_blank"><span style="color:red;">Belum Dibayar</span></a>';
					}
					else
						return '<span style="color:red;">Belum Dibayar</span>';
				} 
			}
		},
         { data: null,
			"sWidth": "12%",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_cetak(this)" target="__blank" mod="inv" aksi="edit" MvaNoId="'+ data.MvaNoId +'" judul_header="Cetak Billing" judul_body="" >View</a> &nbsp;'
				return html;
			 }
		 },
         
      ]
   });

function get_cetak(obj){
	//alert($(obj).attr('mod'));
		var mod=$(obj).attr('mod');
		var MvaNoId=$(obj).attr('MvaNoId');
		openWindowWithPost(url+'cetak_bill',{ mod:mod, mva:MvaNoId });
}

</script>