{foreach from=$dt item=i}
<tr>
	<td >{$i.rowID}</td>
	<td >{$i.Doc_No}</td>
	<td >{$i.Vo_No}</td>
	<td >{$i.LS}</td>
	<td >
		<table cellpadding="0" cellspacing="2" border="0" style="padding-top:0px;width:100%;border: 1px solid #C0C0C0;" class="table">
			<tr style="background:#3CA0B6;font-size:13px;color:yellow;" align="center">
				{if $i.Tp eq 'J' || $i.Tp eq 'T'}
				<td width="10%"></td>
				<td width="90%">Jaminan 50%</td>
				</tr>
				<tr align="center">
					{if $i.Tp eq 'J' }
					<td ><a href="javascript:void(0)" class="un_select btn btn-sm btn-primary" data_id='{$i.Doc_No}' idx="{$i.rowID}" onclick="">Cancel</a></td>
					<td ><input type="radio" class="ck" row_na="" doc_no='{$i.Doc_No}' nilai="{$i.mAmt1}" id="ck_{$i.rowID}" name="payment_{$i.rowID}" data="'+rowData.Tp+'|'+rowData.Vo_No+'|'+rowData.LS+'|1|Jaminan 50%|'+rowData.Doc_No+'|'+rowIndex+'_'+curency_combo+'|'+id_sel+'" field="'+(curency_combo=='IDR' ? 'mAmt1':'fAmt1')+'" class="ceklist select_'+id_sel+' '+rowData.Vo_No+'_'+rowData.Tp+'_'+(curency_combo=='IDR' ? rowData.mAmt1:rowData.fAmt1)+'" >&nbsp;&nbsp;Rp. &nbsp;{$i.mAmt1|number_format:2:".":","}</td>
					{else}
					<td ><a href="javascript:void(0)" class="un_select" data_id='' onclick="return unselect(\''+id_sel+'\');">Cancel</a></td>
					<td ><input type="radio" class="ck" doc_no='{$i.Doc_No}' nilai="{$i.mAmt1}" row_na="'+id_sel+'" id="'+id_sel+'_1"  name="payment_{$i.rowID}" data="'+rowData.Tp+'|'+rowData.Vo_No+'|'+rowData.LS+'|1|PPn FULL|'+rowData.Doc_No+'|'+rowIndex+'_'+curency_combo+'|'+id_sel+'" field="'+(curency_combo=='IDR' ? 'mAmt1':'fAmt1')+'" class="ceklist select_'+id_sel+' '+rowData.Vo_No+'_'+rowData.Tp+'_'+(curency_combo=='IDR' ? rowData.mAmt1:rowData.fAmt1)+'" >&nbsp;&nbsp;' Rp. {$i.mAmt1|number_format:2:".":","}</td>
					<td ><input type="radio" class="ck" doc_no='{$i.Doc_No}' nilai="{$i.mAmt2}" row_na="'+id_sel+'" id="'+id_sel+'_2"  name="payment_{$i.rowID}" data="'+rowData.Tp+'|'+rowData.Vo_No+'|'+rowData.LS+'|2|PPn - PPh|'+rowData.Doc_No+'|'+rowIndex+'_'+curency_combo+'|'+id_sel+'" field="'+(curency_combo=='IDR' ? 'mAmt2':'fAmt2')+'" class="ceklist select_'+id_sel+' '+rowData.Vo_No+'_'+rowData.Tp+'_'+(curency_combo=='IDR' ? rowData.mAmt2:rowData.fAmt2)+'" >&nbsp;&nbsp;'Rp. {$i.mAmt2|number_format:2:".":","}</td>
					{/if}
				{else}
				<td style="width:10%; important!"></td>
				{if $i.mAmt1 neq 0}<td width="'+t_wd+'%">Pelunasan + PPn</td>{/if}
				{if $i.mAmt2 neq 0}<td width="'+t_wd+'%">Pelunasan + PPn - PPh</td>{/if}
				{if $i.mAmt3 neq 0}<td width="'+t_wd+'%">Pelunasan + PPn - PPh(Perubahan)</td>{/if}
				</tr>
				<tr align="center">
				<td ><a href="javascript:void(0)" class="un_select" data_id='' onclick="return unselect(\''+id_sel+'\');">Cancel</a></td>
				{if $i.mAmt1 neq 0}<td width="'+t_wd+'%">Rp. {$i.mAmt1|number_format:2:".":","}</td>{/if}
				{if $i.mAmt2 neq 0}<td width="'+t_wd+'%">Rp. {$i.mAmt2|number_format:2:".":","}</td>{/if}
				{if $i.mAmt3 neq 0}<td width="'+t_wd+'%">Rp. {$i.mAmt3|number_format:2:".":","}</td>{/if}
			
				{/if}
				
			</tr>
		</table>
	</td>
</tr>
{/foreach}

<script>

$('.un_select').bind('click',function(){
	var inv=$(this).attr('data_id');
	var idx=$(this).attr('idx');
	var tot=0;
	inv_no=[];
	if($("input[name='payment_"+idx+"']").is(":checked")==true){
		$("input[name='payment_"+idx+"']").prop('checked', false);
		$.each($('.ck'),function(index, value){
			if($(this).is(":checked")==true){
				tot =tot+parseFloat($(this).attr("nilai"));
				inv_no.push($(this).attr("doc_no"));
				//tot +=$(this).attr("nilai");
			}
		});
		$('#v_tot').html(NumberFormat(tot));
	}
	//alert (inv);
});

$('.ck').bind('click',function(){
	var tot=0;
	inv_no=[];
	$.each($('.ck'),function(index, value){
		if($(this).is(":checked")==true){
			//console.log(parseFloat($(this).attr("nilai")));
			tot =tot + parseFloat($(this).attr("nilai"));
			//tot +=$(this).attr("nilai");
			inv_no.push($(this).attr("doc_no"));
		}
	});
	$('#v_tot').html(NumberFormat(tot));
	//console.log(tot);
	//console.log(inv_no);
	//alert(tot);
	
	
});
</script>