<div class="row">
		<div class="card">
           <div class="card-body">
               <div class="row g-2">
                   <div class="col-lg-auto">
                       <div class="hstack gap-2">
                           <button class="btn btn-danger" id="pay" ><i class="bx bx-dollar"></i> Payment</button>
                       </div>
                   </div>
                   <!--end col-->
                  
                   <div class="col-auto ms-sm-auto"> 
                       <div class="avatar-group" id="newMembar" >
                           <h3>Rp.<span id="v_tot">0.00</span></h3>
                          
                       </div>
                   </div>
                   <!--end col-->
               </div>
               <!--end row-->
           </div>
           <!--end card-body-->
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Billing Payment</h5>
					
                </div>
                <div class="card-body">
					
                    <table id="list_exporter" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                            <tr align='center'>
                                <th width='5%'>No.</th>
                                <th width='30%'>Invoice Number</th>
                                <th width='10%'>VO Number</th>
                                <th width='10%'>LVHI Number</th>
                                <th width='45%'>Payment</th>
                               
                            </tr>
                        </thead>
                        <tbody class="bd_pay">
							<tr>
								<td colspan="5">-- Loading--</td>
							</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
$(document).ready(function(){
	 $('.crud').on('click',function(){
		
	});

  	$('.crud2').bind('click',function(){
		alert ('xx')
	});
	
});
var inv_no=[];	
$.get('{$base_url}/isi_list_pay',function(r){
	$('.bd_pay').html(r);
});
$('#pay').bind('click',function(){
	//$('#modal_loading').modal('show');
	if(inv_no.length >0 ){
		$.post('{$base_url}/billing',{ inv_no:inv_no },function(r){
			$('#judul_body').html("");
			$('#judul_header').html("Biling Payment");
			$('#isi_body').html(r);
			$('#myModal').modal('show');
			$('#modal_loading').modal('hide');
		});
	}else{
		
		$('#isi_toast').html('Selected Data');
		$('.toast').toast('show');
		//$('#modal_loading').modal('hide');
		
	}
});
</script>