<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Monitoring Status</h5>
					
                </div>
                <div class="card-body">
					
                    <table id="list_exporter" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                            <tr align='center'>
                                <th width='5%'>No.</th>
                                <th width='12%'>VO Number</th>
                                <th width='7%'>Partial</th>
                                <th>LVHI Number</th>
                                <th>Invoice</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
$(document).ready(function(){
	 $('.crud').on('click',function(){
		
	});

  	$('.crud2').bind('click',function(){
		alert ('xx')
	});
});
	$('#list_exporter').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt-track/get_vo'
      },
      'columns': [
         { data: 'rowID' },
         { data: 'io_number' },
         { data: 'partial_number' },
         { data: 'ls_number' },
         { data: 'invoice_no' },
         { data: null,
			"sWidth": "10%",
			"align":"center",
			"mRender": function(data, type, full) {

				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_sts(this)" mod="view_status" aksi="edit" dt_vo="'+ data.io_number +'" dt_partial="'+ data.partial_number +'" dt_ls="'+ data.ls_number +'" judul_header="Monitoring Status" judul_body="Status VO" >Status</a> &nbsp;'
					//html +='<a class="btn btn-danger btn-sm crud2" id="delete" onclick="get_form(this)" mod="form_exporter" aksi="delete" dt_item_no="'+ data.item_no +'" judul_header="Form Data Exporter" judul_body="Exporter" >Delete Data</a>'
				return html;
			 }
		 },
      ]
   });

function get_sts(obj){
	//alert($(obj).attr('mod'));
		var mod=$(obj).attr('mod');
		var aksi=$(obj).attr('aksi');
		var dt_vo=$(obj).attr('dt_vo');
		var dt_partial=$(obj).attr('dt_partial');
		var dt_ls=$(obj).attr('dt_ls');
		var judul_header=$(obj).attr('judul_header');
		var judul_body=$(obj).attr('judul_body');
		
			$.post(url+'konten_track/view_status',{ mod:mod,aksi:aksi,dt_vo:dt_vo,dt_partial:dt_partial,dt_ls:dt_ls },function(r){
				$('#judul_body').html(judul_body);
				$('#judul_header').html(judul_header);
				$('#isi_body').html(r);
				$('#myModal').modal('show');
			});
	
}

</script>