<form action="{$base_url}/upload_fd_dok" method="POST" id="frm-upl_fd">
<input type="hidden" name="sts" value="{$sts|default:'add'}">
<input type="hidden" name="io_number" value="{$vo|default:''}">
<input type="hidden" name="partial_no" value="{$partial|default:''}">
<input type="hidden" name="ls_number" value="{$ls|default:''}">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">VO Number</label>
				</div>
				<div class="col-lg-9">
					{$vo}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Partial Number</label>
				</div>
				<div class="col-lg-9">
					{$partial}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">LVHI Number</label>
				</div>
				<div class="col-lg-9">
					{$ls}
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Kategori Dokumen</label>
				</div>
				<div class="col-lg-9">
					<select id="cl_category_file_id" name="cl_category_file_id" style="width: 169px; border: 1px solid #99bbe8;" class="form-control"> 
					<option value="">--Please Select--</option>
					{foreach from=$kat key=k item=i }
						{if $i.category_file neq 'Nomor Pendaftaran Barang'}
							{if $i.category_file eq 'Phytosanitary'}
								{if $commodity eq '24' }
									<option value='{$i.id}'>{$i.category_file}</option>						
								{/if}
							{else}
								<option value='{$i.id}'>{$i.category_file}</option>						
							{/if}
						{/if}
					{/foreach}	
					</select>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">File Dokumen</label>
				</div>
				<div class="col-lg-9">
					<input class="form-control form-control-sm" id="doc_1" type="file" name="doc_1">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Remark</label>
				</div>
				<div class="col-lg-9">
					<textarea name="remark" id="remark" class="form-control"></textarea>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Last Uploaded</label>
				</div>
				<div class="col-lg-9">
					{$icon}
				</div>
			</div>
			<center><a class="btn btn-primary " id="upload_dok_fd" >Save Changes</a></center>
		</div>
	</div>
</form>

<script>
$('#upload_dok_fd').bind('click',function(){

	// Get form
	var form = $('#frm-upl_fd')[0];

	// Create an FormData object 
	var data = new FormData(form);

	$.ajax({
		type: "POST",
		enctype: 'multipart/form-data',
		url:'{$base_url}/upload_fd_dok',
		data: data,
		processData: false,
		contentType: false,
		cache: false,
		timeout: 600000,
		beforeSend:function(){
			//$('#modal_loading').modal('show');
			//launchpreloader();
		},
		complete:function(){
			//stopPreloader();
			//$('#modal_loading').modal('hide');
		},
		success:function(result){
			if(result==1){
				//window.location.href = '{$base_url}/list-vreq';
				//$('#modal_loading').modal('hide');
				$('#myModal').modal('hide');
				alert('FD Was Uploaded');
				//reset_info();
				//$('#isi_toast').html('Data Was Uploaded');
				//$('.toast').toast('show');
				//table.ajax.reload( null, false );
			}else{
				alert('Data Failed');
			}
		}
	});
});

function dwn_doc(flag_plb,com_code,vr_submit_no,file){
	openWindowWithPost("{$base_url}/dwn_dok",{ com_code:com_code,vr_submit_no:vr_submit_no,file:file });
}

function reset_info(){
	$('#isi_body').html('');
	$.post(url+'konten_track/view_status',{ mod:'view_status',aksi:'edit',dt_vo:'{$vo}',dt_partial:'{$partial}',dt_ls:'{$ls}' },function(r){
		$('#isi_body').html(r);
		
	});	
}
function get_list(id,io_number,kat,partial,ls_number){
	$.post(url+'list_upload',{ id:id,io_number:io_number,kat:kat,partial:partial,ls_number:ls_number },function(r){
		$('#judul_header2').html('List File Exist Uploded');
		$('#judul_body2').html('');
		$('#isi_body2').html(r);
		$('#myModal2').modal('show');
	});
	
}
</script>