<div class="row">
	<div class="card">
      <div class="card-header">
          <h5 class="card-title mb-0">List Uploaded</h5>
		
      </div>
      <div class="card-body">
			<div class="row mb-3">
				<div class="table-responsive">
					<table  class="table nowrap align-middle" style="width:100%">
						<thead>
							<tr>
								 <th>No</th>
								 <th>File Name</th>
								 <th >Transfer/Complete Doc Date</th>
							 </tr>
						 </thead>
						 <tbody>
							{foreach from=$ex item=i name=y}
							{if $i neq ''}
							<tr>
								 <td>{$smarty.foreach.y.iteration}</td>
								 <td><a href='javascript:void(0);' class="view_fd" io='{$io}' partial='{$partial}' ls='{$ls}' file_name='{$i}'>{$i}</a></td>
								 <td >{$info.create_date|default:''}</td>
							 </tr>
							 {/if}
							{/foreach}
						 </tbody>
					</table>
				</div>
			</div>
	  </div>
	 </div>
</div>

<script>
$('.view_fd').bind('click',function(){
	var io_number =$(this).attr('io');
	var partial_no = $(this).attr('partial');
	var ls_number = $(this).attr('ls');
	var file_name = $(this).attr('file_name');
	
	openWindowWithPost(url+'download_fd',{ io_number:io_number,partial_no:partial_no,ls_number:ls_number,file_name:file_name });
});
</script>