<form action="{$base_url}/upload_dok" method="POST" id="frm-upl">
<input type="hidden" name="sts" value="{$sts|default:'add'}">
<input type="hidden" name="item_no" value="{$dt.item_no|default:''}">
<input type="hidden" name="vr_submit_no" value="{$vr_submit_no|default:''}">
<input type="hidden" name="com_code" value="{$com_code|default:''}">
	<div class="row">
			<div class="card">
                  <div class="card-header">
                      <!--div class="d-sm-flex align-items-center">
                          <h5 class="card-title flex-grow-1 mb-0">Order Status</h5>
                          <div class="flex-shrink-0 mt-2 mt-sm-0">
                              <a href="javasccript:void(0;)" class="btn btn-soft-info btn-sm mt-2 mt-sm-0"><i class="ri-map-pin-line align-middle me-1"></i> Change Address</a>
                              <a href="javasccript:void(0;)" class="btn btn-soft-danger btn-sm mt-2 mt-sm-0"><i class="mdi mdi-archive-remove-outline align-middle me-1"></i> Cancel Order</a>
                          </div>
                      </div-->
                  </div>
                  <div class="card-body">
                      <div class="profile-timeline">
                          <div class="accordion accordion-flush" id="accordionFlushExample">
                              <div class="accordion-item border-0">
                                  <div class="accordion-header" id="headingOne">
                                      <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          <div class="d-flex align-items-center">
                                              <div class="flex-shrink-0 avatar-xs">
                                                  <div class="avatar-title bg-success rounded-circle">
                                                      <i class="ri-shopping-bag-line"></i>
                                                  </div>
                                              </div>
                                              <div class="flex-grow-1 ms-3">
                                                  <h6 class="fs-14 mb-0">Verification Request [VR]</h6>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                      <div class="accordion-body ms-2 ps-5 pt-0">
                                          <h6 class="mb-1">VR Submit No.: {$info.io.vr_submit_no|default:'-'}</h6>
                                          <p class="text-muted">VR Submit Date: {$info.io.vr_date|default:'-'}</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="accordion-item border-0">
                                  <div class="accordion-header" id="headingTwo">
                                      <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          <div class="d-flex align-items-center">
                                              <div class="flex-shrink-0 avatar-xs">
                                                  <div class="avatar-title bg-success rounded-circle">
                                                      <i class="mdi mdi-gift-outline"></i>
                                                  </div>
                                              </div>
                                              <div class="flex-grow-1 ms-3">
                                                  <h6 class="fs-14 mb-1">Verification Order [VO]</h6>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                                  <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                      <div class="accordion-body ms-2 ps-5 pt-0">
                                          <!--h6 class="mb-1">VO Number: <a class="btn btn-sm btn-primary" onclick="dwn_vo('{$info.io.io_number|default:'-'}')">{$info.io.io_number|default:'-'}</a></h6-->
                                          <h6 class="mb-1">VO Number: {$info.io.io_number|default:'-'}</h6>
										  <p class="text-muted">VO Date: {$info.io.vo_date|default:'-'}</p>
                                      </div>
                                  </div>
                              </div>
                              <!--div class="accordion-item border-0">
                                  <div class="accordion-header" id="headingThree">
                                      <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          <div class="d-flex align-items-center">
                                              <div class="flex-shrink-0 avatar-xs">
                                                  <div class="avatar-title bg-success rounded-circle">
                                                      <i class="ri-truck-line"></i>
                                                  </div>
                                              </div>
                                              <div class="flex-grow-1 ms-3">
                                                  <h6 class="fs-14 mb-1">VO Transfer</h6>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                                  <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                      <div class="accordion-body ms-2 ps-5 pt-0">
                                          <h6 class="mb-1">VO Transfer TO - <span style="color:navy;"><u>{$info.io.sub_cont|default:'-'}</u></span> </h6>
										  <h6 class="mb-1">VO Transfer Date : <span style="color:navy;">{$info.io.transfer_date|default:'-'}</span></h6>
                                        
                                      </div>
                                  </div>
                              </div-->
                              <div class="accordion-item border-0">
                                  <div class="accordion-header" id="headingFour">
                                      <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse" href="#collapseFour" aria-expanded="false">
                                          <div class="d-flex align-items-center">
                                              <!--div class="flex-shrink-0 avatar-xs">
                                                  <div class="avatar-title bg-light text-success rounded-circle">
                                                      <i class="ri-takeaway-fill"></i>
                                                  </div>
                                              </div-->
											  <div class="flex-shrink-0 avatar-xs">
                                                  <div class="avatar-title bg-success rounded-circle">
                                                      <i class="mdi mdi-gift-outline"></i>
                                                  </div>
                                              </div>
                                              <div class="flex-grow-1 ms-3">
                                                  <h6 class="fs-14 mb-0">Inspection</h6>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
								  <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                      <div class="accordion-body ms-2 ps-5 pt-0">
                                          <h6 class="mb-1">Request for Inspection Sent: {$info.tf.rfi_sent|default:'-'}</h6>
										  <!--6 class="mb-1">Request for Inspection Received: <span style="color:navy;">{$info.tf.rfi_recv|default:'-'}</span></h6-->
										  <h6 class="mb-1">Request Inspection: {$info.tf.req_insp|default:'-'}</h6>
										  <!--h6 class="mb-1">Inspection Plan: <span style="color:navy;">{$info.tf.insp_plan|default:'-'}</span></h6-->
										  <h6 class="mb-1">Final Inspection: {$info.tf.final_insp|default:'-'}</h6>
                                        
                                      </div>
                                  </div>
                              </div>
                              
							  <div class="accordion-item border-0">
                                  <div class="accordion-header" id="headingFive">
                                      <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse" href="#collapseFile" aria-expanded="false">
                                          <div class="d-flex align-items-center">
                                             
											  <div class="flex-shrink-0 avatar-xs">
                                                  <div class="avatar-title bg-success rounded-circle">
                                                      <i class="ri-shopping-bag-line"></i>
                                                  </div>
                                              </div>
                                              <div class="flex-grow-1 ms-3">
                                                  <!--h6 class="fs-14 mb-0">Final</h6-->
                                                  <h6 class="fs-14 mb-0">LVHI Number : {$info.proforma.ls_number|default:'-'}</h6>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

								   <div id="collapseFile" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                      <div class="accordion-body ms-2 ps-5 pt-0">
                                          <!--h6 class="mb-1">Final Document: {$info.final_fd|default:'-'}</h6><br-->
										  <p class="text-muted">LVHI Date: {$info.final_ls.tgl_ls|default:'-'}</p>
										  
										  <!--p class="text-muted">
											{$info.sts_fd|default:''}
										  </p>
										  <h6 class="mb-1">LVHI Number.: 

											{if $info.final_ls.ls_number|default:'-' eq 'buton'} 
												<a class="btn btn-sm btn-primary" onclick="dwn_lvhi('{$info.proforma.ls_number}','{$info.ls_id|default:'-'}','{$info.io.io_number|default:'-'}')">{$info.proforma.ls_number|default:'-'}</a>
											{else}
												{$info.proforma.ls_number|default:'-'}
											{/if}</h6>
										  
										  
										  <h6 class="mb-1">Sent To INATRADE: <span style="color:navy;">{$info.ina.tgl_na|default:'-'}</span></h6-->
										</div>
                                  </div>
                              </div>
							 
                          </div>
                          <!--end accordion-->
                      </div>
                  </div>
              </div>
                            <!--end card-->
	</div>
</form>

<script>




$('#upload_dok').bind('click',function(){

	// Get form
	var form = $('#frm-upl')[0];

	// Create an FormData object 
	var data = new FormData(form);

	// If you want to add an extra field for the FormData
	//data.append("CustomField", "This is some extra data, testing");

	// disabled the submit button
   // $("#btnSubmit").prop("disabled", true);

	$.ajax({
		type: "POST",
		enctype: 'multipart/form-data',
		url:'{$base_url}/upload_dok',
		data: data,
		processData: false,
		contentType: false,
		cache: false,
		timeout: 600000,
		beforeSend:function(){
			//$('#modal_loading').modal('show');
			//launchpreloader();
		},
		complete:function(){
			//stopPreloader();
			//$('#modal_loading').modal('hide');
		},
		success:function(result){
			if(result==1){
				//window.location.href = '{$base_url}/list-vreq';
				//$('#modal_loading').modal('hide');
				$('#myModal').modal('hide');
				$('#isi_toast').html('Data Was Uploaded');
				$('.toast').toast('show');
				table.ajax.reload( null, false );
			}else{
				alert('Data Failed');
			}
			 
		}
	});
});

 function dwn_doc(flag_plb,com_code,vr_submit_no,file){
	 openWindowWithPost("{$base_url}/dwn_dok",{ com_code:com_code,vr_submit_no:vr_submit_no,file:file });
 }
</script>