	<div id='header'>
		<table width="100%">
			<tr>
				<td style="width: 100px; height: 80px;"><!--img src='assets/images/sci_idsurvey.png' width='100px' /--></td>
				<td style="height: 80px; color: #00000; text-align: center;" valign="top">
					
					<div style="font-family:arial; font-weight:bold; ">		
					<h5><br/><br/>
						PROGRAM VERIFIKASI ATAU PENELUSURAN TEKNIS IMPOR<br />  {$data_commodity_desc.0.deskripsi|default:'PRODUK TERTENTU'}  <br /><br>
						VERIFICATION ORDER
					</h5>
					</div>
				</td>
				<td style="width: 100px; height: 80px;"><!--img src='assets/images/si_idsurvey.png' width='100px' /--></td>
			</tr>
			<tr>
				<td colspan='3'><hr /></td>
			</tr>
		</table>
	</div> 
