<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Top 5 Loading Country</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="column_chart" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr">
					<center><img src="{$base_url}/assets/img/loading.gif" class="loading" style="width:50%"></center>
				</div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
	<div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Value USD</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="line_chart" data-colors='["--vz-danger", "--vz-primary", "--vz-success"]' class="apex-charts" dir="ltr">
					<center><img src="{$base_url}/assets/img/loading.gif" class="loading2" style="width:50%"></center>
				</div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
	
    
</div>
<div class="row">
     <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Top 5 Discharge Port</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="donat" data-colors='["--vz-success"]' class="apex-charts" dir="ltr">
					<center><img src="{$base_url}/assets/img/loading.gif" class="loading3" style="width:50%"></center>
				</div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
	<div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Volume</h4>
            </div><!-- end card header -->

            <div class="card-body">
				
                <table class="table">
					<tr>
						<td>Month</td>
						<td>Vol</td>
					</tr>
					<tbody class="bd_vol">
						<tr>
							<td colspan="3"><center><img src="{$base_url}/assets/img/loading.gif" class="loading3" style="width:30%"></center><td>
						</tr>
					</tbody>
                </table>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
   
</div>
<script>
$.get(url+'stack_dash',function(r){
	var js=JSON.parse(r);
	var options = {
		series: [{
			data: js.data
		}],
		chart: {
		  type: 'bar',
		  height: 350
		},
		/*plotOptions: {
			bar: {
				borderRadius: 4,
				horizontal: true,
			}
		},*/
		plotOptions: {
			bar: {
				barHeight: '100%',
				distributed: true,
				horizontal: true,
				dataLabels: {
					position: 'bottom'
				},
			}
		},
		colors: ['#2b908f', '#f9a3a4', '#90ee7e', '#f48024', '#69d2e7'
				],
		/*dataLabels: {
		  enabled: false
		},*/
		dataLabels: {
			enabled: true,
			textAnchor: 'start',
			style: {
				colors: ['#495057']
			},
			formatter: function (val, opt) {
				return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val.toLocaleString("en-US")
			},
			offsetX: 0,
			dropShadow: {
				enabled: false
			}
		},
		stroke: {
			width: 2,
			colors: ['#fff']
		},
		xaxis: {
			categories: js.contry
		},
		yaxis: {
			labels: {
				show: false,
				formatter: function (value) {
					return value.toLocaleString("en-US");
				}
            }
        },
		tooltip: {
			//theme: 'dark',
			x: {
			  show: false
			},
			y: {
			  title: {
				formatter: function () {
				  return ''
				}
			  }
			}
		}
	};
	
	$('.loading').remove();
	var chart = new ApexCharts(document.querySelector("#column_chart"), options);
	chart.render();
});
		
$.get(url+'line_dash',function(r){
	var js=JSON.parse(r);
	$('.bd_vol').html(js.tbl);
	//var dt=[{ name: 2022, data: [3, 4, 5, 6, 7, 4, 5, 1, 2, 4, 5, 6] },{ name: 2023, data: [3, 4, 5, 1, 7, 2, 5, 1, 2, 4, 5, 6] }];
	var options = {
		 /* series: [
		  {
			name: "High - 2013",
			data: [28, 29, 33, 36, 32, 32, 33]
		  },
		  {
			name: "Low - 2013",
			data: [12, 11, 14, 18, 17, 13, 13]
		  }
		],*/
		series: js.dt,
		chart: {
		  height: 350,
		  type: 'line',
		  dropShadow: {
			enabled: true,
			color: '#000',
			top: 18,
			left: 7,
			blur: 10,
			opacity: 0.2
		  },
		  toolbar: {
			show: false
		  }
		},
		colors: ['#77B6EA', '#545454'],
		
		dataLabels: {
			enabled: true,
			formatter: function (val, opt) {
				return val.toLocaleString("en-US")+' $'
			},
			offsetX: 0,
			dropShadow: {
				enabled: true
			}
		},
		/*
		dataLabels: {
			enabled: true,			
			style: {
				colors: ['#495057']
			},
			formatter: function (val, opt) {
				return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val.toLocaleString("en-US")
			},
			offsetX: 0,
			dropShadow: {
				enabled: true
			}
		},*/
		
		stroke: {
		  curve: 'smooth'
		},
		/*title: {
		  text: 'Value In USD',
		  align: 'left'
		},*/
		grid: {
		  borderColor: '#e7e7e7',
		  row: {
			colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
			opacity: 0.5
		  },
		},
		markers: {
		  size: 1
		},
		xaxis: {
		  categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Agus','Sep','Okt','Nov','Des'],
		  title: {
			text: 'Month'
		  },
		 
		},
		yaxis: {
			/*title: {
				text: 'USD'
			},*/
			labels: {
				show: true,
				formatter: function (value) {
					return value.toLocaleString("en-US")+' $';
				}
            },
		 
			min: 0,
		 // max: 40
		},
		
		legend: {
		  position: 'top',
		  horizontalAlign: 'right',
		  floating: true,
		  offsetY: -25,
		  offsetX: -5
		}
	};
	 $('.loading2').remove();
	 var chart = new ApexCharts(document.querySelector("#line_chart"), options);
	 chart.render();
});

$.get(url+'donat_dash',function(r){
	var js=JSON.parse(r);	
	var options = {
		series: js.data,
		chart: {
		  width: 380,
		  type: 'pie',
		},
		labels: js.contry,
		responsive: [{
		  breakpoint: 480,
		  options: {
			chart: {
			  width: 200
			},
			legend: {
			  position: 'bottom'
			}
		  }
		}]
	};
		
	$('.loading3').remove();
	var chart = new ApexCharts(document.querySelector("#donat"), options);
	chart.render();
});
      
</script>