<!-- ========== App Menu ========== -->
 <div class="app-menu navbar-menu">
     <!-- LOGO -->
     <div class="navbar-brand-box">
         <!-- Dark Logo-->
         <a href="index.html" class="logo logo-dark">
             <span class="logo-sm">
                 <img src="{$base_url}/assets/img/icon_scisi.png" alt="" height="22">
             </span>
             <span class="logo-lg">
                 <img src="{$base_url}/assets/img/BPJPHLogo.png" alt="" height="63">
             </span>
         </a>
         <!-- Light Logo-->
         <a href="index.html" class="logo logo-light">
             <span class="logo-sm">
                 <img src="{$base_url}/assets/img/icon_scisi.png" alt="" height="22">
             </span>
             <span class="logo-lg">
                 <img src="{$base_url}/assets/img/icon_scisi.png" alt="" height="63">
             </span>
         </a>
         <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
             <i class="ri-record-circle-line"></i>
         </button>
     </div>

     <div id="scrollbar" data-simplebar="init" class="h-100" >
         <div class="container-fluid">

             <div id="two-column-menu">
             </div>
             <ul class="navbar-nav" id="navbar-nav">
                 <li class="menu-title"><span data-key="t-menu">Menu</span></li>
				 
				 <li class="nav-item">
                     <a class="nav-link menu-link" href="{$base_url}/main">
                         <i class="bx bxs-dashboard"></i> <span data-key="t-dashboards">Dashboard</span>
                     </a>
                 </li>
				 
				 <li class="nav-item">
                     <a class="nav-link menu-link" href="#sidebarPages" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPages">
                         <i class="bx bx-file"></i> <span data-key="t-pages">Verification Request</span>
                     </a>
                     <div class="collapse menu-dropdown" id="sidebarPages">
                         <ul class="nav nav-sm flex-column">
							 <li class="nav-item">
                                 <a href="{$base_url}/vreq" class="nav-link" data-key="t-starter">VR Form</a>
                             </li>
							 <li class="nav-item">
                                 <a href="{$base_url}/list-vreq" class="nav-link" data-key="t-starter">Data VR</a>
                             </li>
                             
							 <!--li class="nav-item">
                                 <a href="{$base_url}/plb" class="nav-link" data-key="t-starter">VR PLB</a>
                             </li>
							 <li class="nav-item">
                                 <a href="{$base_url}/kbgb" class="nav-link" data-key="t-starter">VR KBGB</a>
                             </li-->
                             
                         </ul>
                     </div>
                 </li>
				 <li class="nav-item">
                     <a class="nav-link menu-link" href="#monitor" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="monitor">
                         <i class="bx bx-aperture"></i> <span data-key="t-pages">Monitoring</span>
                     </a>
                     <div class="collapse menu-dropdown" id="monitor">
                         <ul class="nav nav-sm flex-column">
                             <li class="nav-item">
                                 <a href="{$base_url}/monitor-status" class="nav-link" data-key="t-pages">Monitoring Status</a>
                             </li>							 
							 <!--li class="nav-item">
                                 <a href="pages-starter.html" class="nav-link" data-key="t-pages">Monitoring Quota</a>
                             </li-->
                         </ul>
                     </div>
                 </li>
				 <li class="nav-item">
                     <a class="nav-link menu-link" href="#revisi" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="revisi">
                         <i class="bx bx-layer"></i> <span data-key="t-pages">Revision</span>
                     </a>
                     <div class="collapse menu-dropdown" id="revisi">
                         <ul class="nav nav-sm flex-column">
                             <li class="nav-item">
                                 <a href="{$base_url}/revisi-vo" class="nav-link" data-key="t-pages">VO Revision</a>
                             </li>
							 <li class="nav-item">
                                 <a href="{$base_url}/revisi-ls" class="nav-link" data-key="t-pages">LVHI Revision</a>
                             </li>
							
                         </ul> 
                     </div>
                 </li>
				 <!--li class="nav-item">
                     <a class="nav-link menu-link" href="#payment" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="payment">
                         <i class="bx bx-dollar"></i> <span data-key="t-pages">Payment</span>
                     </a>
                     <div class="collapse menu-dropdown" id="payment">
                         <ul class="nav nav-sm flex-column">
                             <li class="nav-item">
                                 <a href="{$base_url}/payment" class="nav-link" data-key="t-pages">Billing Payment</a>
                             </li>
							 <li class="nav-item">
                                 <a href="pages-starter.html" class="nav-link" data-key="t-pages">Konfirmasi Pembayaran</a>
                             </li>
							 <li class="nav-item">
                                 <a href="{$base_url}/histori" class="nav-link" data-key="t-pages">Payment History</a>
                             </li>
                         </ul>
                     </div>
                 </li-->
				 <!--li class="nav-item">
                     <a class="nav-link menu-link" href="#soa" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="soa">
                         <i class="bx bx-money"></i> <span data-key="t-pages">SOA</span>
                     </a>
                     <div class="collapse menu-dropdown" id="soa">
                         <ul class="nav nav-sm flex-column">
                             <li class="nav-item">
                                 <a href="pages-starter.html" class="nav-link" data-key="t-pages">SOA Balance</a>
                             </li>
							 <li class="nav-item">
                                 <a href="pages-starter.html" class="nav-link" data-key="t-pages">SOA Proforma</a>
                             </li>
							
                         </ul>
                     </div>
                 </li-->
				 <li class="nav-item">
                     <a class="nav-link menu-link" href="#ref" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="ref">
                         <i class="bx bx-table"></i> <span data-key="t-pages">Reference</span>
                     </a>
                     <div class="collapse menu-dropdown" id="ref">
                         <ul class="nav nav-sm flex-column">
                             <li class="nav-item">
                                 <a href="{$base_url}/list-supplier" class="nav-link" data-key="t-pages">Supplier</a>
                             </li>
							 <li class="nav-item">
                                 <a href="{$base_url}/list-exporter" class="nav-link" data-key="t-pages">Exporter</a>
                             </li>
							 <li class="nav-item">
                                 <a href="{$base_url}/list-hs" class="nav-link" data-key="t-pages">HS-Module</a>
                             </li>
							 <li class="nav-item">
                                 <a href="{$base_url}/ip" class="nav-link" data-key="t-pages">IP/IT/SPI</a>
                             </li>
                         </ul>
                     </div>
                 </li>
				 <!--li class="nav-item">
                     <a class="nav-link menu-link" href="widgets.html">
                         <i class="bx bxs-chat"></i> <span data-key="t-dashboards">Chat</span>
                     </a>
                 </li-->
				 <!--li class="nav-item">
                     <a class="nav-link menu-link" href="#tutor" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="tutor">
                         <i class="bx bx-camera"></i> <span data-key="t-pages">Tutorial</span>
                     </a>
                     <div class="collapse menu-dropdown" id="tutor">
                         <ul class="nav nav-sm flex-column">
                             <li class="nav-item">
                                 <a href="pages-starter.html" class="nav-link" data-key="t-pages">User Manual</a>
                             </li>
							 <li class="nav-item">
                                 <a href="pages-starter.html" class="nav-link" data-key="t-pages">Video Tutorial</a>
                             </li>
                         </ul>
                     </div>
                 </li-->
             </ul>
         </div>
         <!-- Sidebar -->
     </div>

            <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->