<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <!--div class="card-header">
                    <h5 class="card-title mb-0">List IP/IT/SPI</h5>
                </div-->
                <div class="card-body">
                    <table id="list_port" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                             <tr>
                                <th width='5%'>No.</th>
                                <th>IP/IT/SPI Number</th>
                                <th>Date</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
	var table=$('#list_port').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt/ip'
      },
      'columns': [
         { data: 'rowID' },
         { data: 'ip_number' },
         { data: 'ip_date2' },
         { data: null,
			"sWidth": "10%",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_val(this)" mod="" aksi="edit" dt_id="'+ data.ip_number +'" >Select Data</a> &nbsp;'
					
				return html;
			 }
		 },
        
      ]
   });
   function get_val(obj){
		var dhs_id=$(obj).attr('dt_id');
		$('#import_license_no').val(dhs_id);
		$('#myModal').modal('hide');
   }
  
</script>