<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <!--div class="card-header">
                    <h5 class="card-title mb-0">List HS Module</h5>
                </div-->
                <div class="card-body">
                    <table id="list_hs" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                             <tr>
                                <th>No.</th>
                                <th>Draft Name</th>
                                <th>Date</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
	var table=$('#list_hs').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt/hs-module-ref'
      },
      'columns': [
         { data: 'rowID',
			"sWidth": "5%",
		 },
         { data: 'dhs_title',
			"sWidth": "50%",
		 },
         { data: 'dhs_date2' },
         { data: null,
			"sWidth": "7%",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_val(this)" mod="form_supplier" aksi="edit" dt_id="'+ data.dhs_id +'" dt_name="'+data.dhs_title+'">Select</a>'
					
				return html;
			 }
		 },
        
      ]
   });
   function get_val(obj){
		var dhs_id=$(obj).attr('dt_id');
		var dhs_title=$(obj).attr('dt_name');
		$('#dhs_id').val(dhs_id);
		$('#dhs_title').val(dhs_title);
		$('#myModal').modal('hide');
   }
  
</script>