<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <!--div class="card-header">
                    <h5 class="card-title mb-0">List Exporter</h5>
                </div-->
                <div class="card-body">
                    <table id="list_vr" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                            <tr>
                                <th width='5%'>No.</th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Email Address</th>
                                <th>Select</th>
								
                                <!--th>File Template</th-->
                               
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
	$('#list_vr').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt/exporter'
      },
      'columns': [
         { data: 'rowID' },
         { data: 'name' },
         { data: 'contact_name' },
         { data: 'address' },
         { data: 'phone' },
         { data: 'email_address' },
		 { data: null,
			"sWidth": "10%",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_val(this)" dt_name="'+ data.name +'" dt_contact="'+data.contact_name+'" dt_address="'+data.address+'" dt_country="'+data.country_code+'" dt_phone="'+data.phone+'" dt_city="'+data.city+'" dt_mobile_phone="'+data.mobile_phone+'" dt_fax="'+data.fax+'" dt_email_address="'+data.email_address+'">Select</a> &nbsp;'
					
				return html;
			 }
		 },
      ]
   });
   function get_val(obj){
		var dt_name=$(obj).attr('dt_name');
		var dt_contact=$(obj).attr('dt_contact');
		var dt_address=$(obj).attr('dt_address');
		var dt_country=$(obj).attr('dt_country');
		var dt_phone=$(obj).attr('dt_phone');
		var dt_mobile_phone=$(obj).attr('dt_mobile_phone');
		var dt_fax=$(obj).attr('dt_fax');
		var dt_email_address=$(obj).attr('dt_email_address');
		var dt_city=$(obj).attr('dt_city');
		$('#name_exporter').val(dt_name);
		$('#contact_exporter').val(dt_contact);
		$('#address_exporter').val(dt_address);
		$('#country_exporter').val(dt_country);
		$('#tlp_exporter').val(dt_phone);
		$('#mobile_phone_exporter').val(dt_mobile_phone);
		$('#fax_exporter').val(dt_fax);
		$('#email_exporter').val(dt_email_address);
		$('#exporter_city').val((dt_city=='null' ? '' : dt_city));
		$('#myModal').modal('hide');
   }
</script>