<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <!--div class="card-header">
                    <h5 class="card-title mb-0">List Port Loading</h5>
                </div-->
                <div class="card-body">
                    <table id="list_port" class="table display table-hover dt-responsive table-bordered table-striped align-middle" style="width:100%">
                        <thead>
                             <tr>
                                <th width="5%">No.</th>
                                <th>Port Code</th>
                                <th>Country</th>
                                <th>Port Name</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
</div>

<script>
	var table=$('#list_port').DataTable({
      'processing': true,
      'serverSide': true,
	  autoWidth: false,
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt/port_loading'
      },
      'columns': [
         { data: 'rowID' },
         { data: 'port_code' },
         { data: 'country' },
         { data: 'port' },
         { data: null,
			"sWidth": "10%",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="edit" onclick="get_val(this)" mod="form_supplier" aksi="edit" dt_id="'+ data.port_code +'" dt_name="'+data.port+'">Select</a> &nbsp;'
					
				return html;
			 }
		 },
        
      ]
   });
   function get_val(obj){
		var dhs_id=$(obj).attr('dt_id');
		var dhs_title=$(obj).attr('dt_name');
		$('#port_code').val(dhs_id);
		$('#port_loading').val(dhs_title);
		$('#myModal').modal('hide');
   }
  
</script>