<div class="row">
	<div class="card">
      <div class="card-header">
          <h5 class="card-title mb-0">List Detail VR</h5>
		
      </div>
      <div class="card-body">

			<form action="{$base_url}/edit_detil" method="POST" id="frm_detil">
			<input type="hidden" name="sts" value="{$sts|default:'add'}">
			<input type="hidden" name="dhs_id" value="{$dt.header.dhs_id|default:''}">
				<div class="row">
					<div class="col-lg-12">
						<div class="row mb-3">
							<div class="table-responsive">
								<table  class="table nowrap align-middle" style="width:100%">
									<thead>
										<tr>
											 <th>No</th>
											 <th>HS Code</th>
											 <th style="width:50%">Goods Description</th>
											 <th>Country of Origin</th>
											 <th>Quantity</th>
											 <th>UoM (Unit)</th>
											 <th>Net Weight</th>
											 <th>UoM (Unit)</th>
											 <th>Preference Facility</th>
											 <th>No. IP/IT/SPI</th>
											 <th>SPPT SNI</th>
										 </tr>
									 </thead>
									 <tbody class='bd_hs'>
										
										{foreach from=$dt item=z name=y}
										<tr>
										   <td>{$smarty.foreach.y.iteration}</td>
										   <td>
												<input type="hidden" name="vr_submit_detail_id[]" id="vr_submit_detail_id_{$smarty.foreach.y.iteration}" value="{$z.vr_submit_detail_id}">
												<select class="form-control-sm " name="hs_code[]" aria-label="Default select example">
												   <option value="">-- Select --</option>
												   {foreach from=$hs item=i}
												   <option value="{$i.hs_code}" {if $z.hs_code eq $i.hs_code}selected{/if}>{$i.hs_code}</option>
												   {/foreach}
												</select>
												
										   </td>
										   <td ><input type="text" name="hs_description[]" value="{$z.hs_description|default:''}" class="form-control form-control-sm" style="width:200px"></td>
										   <td>
												<select class="form-control-sm " name="country_code[]" aria-label="Default select example" style="width:100px">
												   <option value="">-- Select --</option>
												   {foreach from=$contri item=i}
												   <option value="{$i.country_code}" {if $z.country_code eq $i.country_code}selected{/if}>{$i.country_name}</option>
												   {/foreach}
												</select>
										   </td>
										   <td><input type="text" name="quantity[]" value="{$z.quantity|default:''}" class="form-control form-control-sm"></td>
										   <td>
												<select class="form-control-sm " name="unit[]" aria-label="Default select example">
												   <option value="">-- Select --</option>
												   
												   <option value="NIU" {if $z.unit eq 'NIU'}selected{/if}>NIU</option>
												   <option value="SET" {if $z.unit eq 'SET'}selected{/if}>SET</option>
												   <option value="TNE" {if $z.unit eq 'TNE'}selected{/if}>TNE</option>
												   
												</select>
											</td>
										   <td><input type="text" name="weight[]" value="{$z.weight_kgs|default:''}" class="form-control form-control-sm"></td>
										   <td>
												<select class="form-control-sm " name="unit_net[]" aria-label="Default select example">
												   <option value="">-- Select --</option>
												   
												   <option value="NIU" {if $z.unit eq 'NIU'}selected{/if}>NIU</option>
												   <option value="SET" {if $z.unit eq 'SET'}selected{/if}>SET</option>
												   <option value="TNE" {if $z.unit eq 'TNE'}selected{/if}>TNE</option>
												   
												</select>
												
											</td>
												
										   <td>
												<select class="form-control-sm" id="fac_23363" name="pref_facility[]">
													<option value="">Pilih</option>
													<option value="AANZFTA" {if $z.pref_facility eq 'AANZFTA'}selected{/if}>AANZFTA</option>
													<option value="ACFTA" {if $z.pref_facility eq 'ACFTA'}selected{/if}>ACFTA</option>
													<option value="AIFTA" {if $z.pref_facility eq 'AIFTA'}selected{/if}>AIFTA</option>
													<option value="AJCEP" {if $z.pref_facility eq 'AJCEP'}selected{/if}>AJCEP</option>
													<option value="AKFTA" {if $z.pref_facility eq 'AKFTA'}selected{/if}>AKFTA</option>
													<option value="ATIGA" {if $z.pref_facility eq 'ATIGA'}selected{/if}>ATIGA</option>
													<option value="ECCPA" {if $z.pref_facility eq 'ECCPA'}selected{/if}>ECCPA</option>
													<option value="IFTA" {if $z.pref_facility eq 'IFTA'}selected{/if}>IFTA</option>
													<option value="IJEPA" {if $z.pref_facility eq 'IJEPA'}selected{/if}>IJEPA</option>
													<option value="IPPTA" {if $z.pref_facility eq 'IPPTA'}selected{/if}>IPPTA</option>
												</select>
												
										   </td>
										   <td><input type="text" name="license_no[]" value="{$z.license_no|default:''}" class="form-control form-control-sm"></td>
										   <td><input type="text" name="sppt_sni[]" value="{$z.sppt_sni|default:''}" class="form-control form-control-sm"></td>
										</tr>
										{/foreach}
										
									 </tbody>
								</table>
							</div>
						</div>
						
						<center><a class="btn btn-primary " id="simpan_detil" >Save Changes</a></center>
					</div>
				</div>
			</form>
		</div>	
	</div>
</div>

<script>
var idx_row={$jml_row|default:6}; 
var opt_hs;
	opt_hs ='<option value="" >-- Select --</option>';
	opt_hs +='{foreach from=$hs item=i}';
	opt_hs +='<option value="{$i.hs_code}" >{$i.hs_code}</option>';
	opt_hs +='{/foreach}';

var opt_contri;
	opt_contri ='<option value="" >-- Select --</option>';
	opt_contri +='{foreach from=$contri item=i}';
	opt_contri +='<option value="{$i.country_code}" >{$i.country_name|replace:"'":" "|strip}</option>';
	opt_contri +='{/foreach}';
	
	
$('#simpan_detil').bind('click',function(){
	//alert ('xxx');
	var a=$('#frm_detil').serialize();
	
	$.ajax({
		type:'post',
		url:'{$base_url}/edit_detil',
		data:a,
		beforeSend:function(){
			//$('#modal_loading').modal('show');
			//launchpreloader();
		},
		complete:function(){
			//stopPreloader();
			//$('#modal_loading').modal('hide');
		},
		success:function(result){
			if(result==1){
				//window.location.href = '{$base_url}/list-vreq';
				
				//$('#modal_loading').modal('hide');
				$('#myModal').modal('hide');
				$('#isi_toast').html('Data Was Edited');
				$('.toast').toast('show');
			}else{
				alert('Data Failed');
			}
			 
		}
	});
});

</script>