<form action="{$base_url}/upload_dok" method="POST" id="frm-upl">
<input type="hidden" name="sts" value="{$sts|default:'add'}">
<input type="hidden" name="item_no" value="{$dt.item_no|default:''}">
<input type="hidden" name="vr_submit_no" value="{$vr_submit_no|default:''}">
<input type="hidden" name="com_code" value="{$com_code|default:''}">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">VR Submit</label>
				</div>
				<div class="col-lg-9">
					{$vr_submit_no}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Commodity</label>
				</div>
				<div class="col-lg-9">
					{$comodity}
				</div>
			</div>
			
			{foreach from=$file item=i}
			<div class="row mb-3">
				<div class="col-lg-3">
					<label for="leaveemails" class="form-label">Upload {$i.description}</label>
				</div>
				<div class="col-lg-9">
					 <input class="form-control form-control-sm" id="{$i.kategori_file}_{$i.id}" type="file" name="{$i.kategori_file}_{$i.id}">
						{assign var=foo value="|"|explode:$i.file_name} 
						{foreach from=$foo item=x}
							<!--div style="color:navy;margin-left:20px;" ><b><a href="__repo/vr_doc/{$vr_submit_no}/{$x}" target="__blank">{$x}</a></b></div-->
							<div style="color:navy;margin-left:20px;" ><b><a href="javascript:void(0);" onclick="dwn_doc('{$flag|default:'X'}','{$com_code}','{$vr_submit_no}','{$x}')">{$x}</a></b></div>
						{/foreach}
				</div>
			</div>
			
			{/foreach}
			<center><a class="btn btn-primary " id="upload_dok" >Save Changes</a></center>
		</div>
	</div>
</form>

<script>
$('#upload_dok').bind('click',function(){

	// Get form
        var form = $('#frm-upl')[0];

		// Create an FormData object 
        var data = new FormData(form);

		// If you want to add an extra field for the FormData
        //data.append("CustomField", "This is some extra data, testing");

		// disabled the submit button
       // $("#btnSubmit").prop("disabled", true);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url:'{$base_url}/upload_dok',
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            beforeSend:function(){
				//$('#modal_loading').modal('show');
				//launchpreloader();
			},
			complete:function(){
				//stopPreloader();
				//$('#modal_loading').modal('hide');
			},
			success:function(result){
				if(result==1){
					//window.location.href = '{$base_url}/list-vreq';
					//$('#modal_loading').modal('hide');
					$('#myModal').modal('hide');
					$('#isi_toast').html('Data Was Uploaded');
					$('.toast').toast('show');
					table.ajax.reload( null, false );
				}else{
					alert('Data Failed');
				}
				 
			}
        });
		
		

});
 function dwn_doc(flag_plb,com_code,vr_submit_no,file){
	 openWindowWithPost("{$base_url}/dwn_dok",{ com_code:com_code,vr_submit_no:vr_submit_no,file:file });
 }
</script>