<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Verification Request Submission</h5>
                </div>
                <div class="card-body">
					
					<div class="col-lg-12">
						<div class="dt-responsive">
							<table id="list_vr" class="table display table-hover  table-bordered table-striped align-middle" >
								<thead>
									<tr>
										<th>No.</th>
										<th>Action</th>
										<th>VR Number</th>
										<th>Application Status</th>
										<th>Exporter</th>
										<!--th>Register</th-->
										<th>VR Documents</th>
										<th>VO Number</th>
										<!--th>File Template</th-->
									</tr>
								</thead>
							</table>
						</div>
					</div>
                </div>
            </div>
        </div>
</div>

<script>
	var table= $('#list_vr').DataTable({
      'processing': true,
      'serverSide': true,
	  select: true,
	  scrollX: true,
	  
      'serverMethod': 'post',
      'ajax': {
          'url':'{$base_url}/dt/vr'
      },
      'columns': [
         { data: 'rowID' },
		 { data: null,
			"sWidth": "160px",
			"mRender": function(data, type, full) {
				var html ='<a class="btn btn-success btn-sm crud2" id="view" target="__blank" href="{$base_url}/viewpdf/'+ data.vr_submit_no +'" ><span class="icon-off"><i class="ri-article-line align-bottom me-1"></i>Preview</span></a> &nbsp;'
					html +='<a class="btn btn-danger btn-sm crud2" id="doc" onclick="get_upl(this)" mod="form_upload_dok" aksi="add" dt_vr="'+ data.vr_submit_no +'" judul_header="Completed Upload Document" judul_body="Upload Document" ><span class="icon-off"><i class=" ri-folder-upload-fill align-bottom me-1"></i>Upload Doc</span></a>'
					if(data.status=='Y'){
						html +='&nbsp;<a class="btn btn-danger btn-sm crud2" id="edit" onclick="get_form_detil(this)" mod="form_detil_edit" aksi="edit" dt_vr="'+ data.vr_submit_no +'" judul_header="Detil Edit" judul_body="Edit Detil" ><span class="icon-off"><i class=" ri-folder-upload-fill align-bottom me-1"></i>Detil Edit</span></a>'
					}
				return html;
			 }
		 },
        
         { data: 'vr_submit_no' },
         { data: null,
			"mRender": function(data, type, full) {
				var html ='&nbsp;'
				return html;
			 }
		 },
         { data: 'exporter_name',"sWidth": "200px", },
         /*{ data: null,
			
			"mRender": function(data, type, full) {
				var html ='&nbsp;'
				return html;
			 }
		 },*/
        { data: 'upl_doc',"sWidth": "140px", },
        { data: null,
			"mRender": function(data, type, full) {
				if(data.io_number!=null){
					var html ='<a href="'+url+'status/'+data.io_number+'" target="__blank">'+data.io_number+'</a>'
					return html;
				}else{
					return '';
				}
			 }
		 },
		 
        
      ]
   });
   
	function get_form_detil(obj){
	//alert($(obj).attr('mod'));
		var mod=$(obj).attr('mod');
		var aksi=$(obj).attr('aksi');
		var dt_vr=$(obj).attr('dt_vr');
		var judul_header=$(obj).attr('judul_header');
		var judul_body=$(obj).attr('judul_body');
		
			$.post(url+'konten_vr/edit_detil',{ mod:mod,aksi:aksi,vr:dt_vr },function(r){
				$('#judul_body').html(judul_body);
				$('#judul_header').html(judul_header);
				$('#isi_body').html(r);
				$('#myModal').modal('show');
			});
		
	}
	function get_upl(obj){
	//alert($(obj).attr('mod'));
		var mod=$(obj).attr('mod');
		var aksi=$(obj).attr('aksi');
		var dt_vr=$(obj).attr('dt_vr');
		var judul_header=$(obj).attr('judul_header');
		var judul_body=$(obj).attr('judul_body');
		if(aksi=='delete'){
			$.post('{$base_url}/simpan_ref/supplier',{ sts:'delete',mod:mod,aksi:aksi,item_no:dt_item_no },function(r){
				if(r==1){
					alert('Sukses');
					window.location.href = "{$base_url}/list-supplier";
				}
			});
		}else{
			$.post(url+'konten_vr/upload_dok',{ mod:mod,aksi:aksi,vr:dt_vr },function(r){
				$('#judul_body').html(judul_body);
				$('#judul_header').html(judul_header);
				$('#isi_body').html(r);
				$('#myModal').modal('show');
			});
		}
	}

   
</script>