<div class="col-lg-12">
    <div class="card">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Form Verifiction Request PLB</h4>
            
        </div><!-- end card header -->
        <div class="card-body">
			<form action="">
				<div class="row">
					<div class="col-lg-6">
						<p class="text-muted">Inspection Place</p>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="timeInput" class="form-label">PLB Name</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group input-group-sm">
                                    <input type="text" class="form-control" aria-label="Recipient's username with two button addons">
                                    <button class="btn btn-primary" type="button">...</button>
                                    
                                </div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="dateInput" class="form-label">Contact</label>
							</div>
							<div class="col-lg-9">
								<p></p>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="dateInput" class="form-label">Address</label>
							</div>
							<div class="col-lg-9">
								<p></p>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="dateInput" class="form-label">City</label>
							</div>
							<div class="col-lg-9">
								<p></p>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="dateInput" class="form-label">Phone</label>
							</div>
							<div class="col-lg-9">
								<p></p>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="dateInput" class="form-label">Email</label>
							</div>
							<div class="col-lg-9">
								<p></p>
							</div>
						</div>
						
						<p class="text-muted">Importer</p>
						
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="dateInput" class="form-label">NPWP</label>
							</div>
							<div class="col-lg-9">
								<p>123.321.2221.1111</p>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="dateInput" class="form-label">Name</label>
							</div>
							<div class="col-lg-9">
								<p>LG Electrinica</p>
							</div>
						</div>
						
						
						<p class="text-muted">IMPORT DOCUMENT REFERENCE</p>
						
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Invoice No.</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control form-control-sm" id="nameInput" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Invoice Date</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control form-control-sm" id="nameInput" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">IP/IT/SPI No.</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control form-control-sm" id="nameInput" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Request Inspection Date</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control form-control-sm" id="nameInput" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Total Value</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control form-control-sm" id="nameInput" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Currency</label>
							</div>
							<div class="col-lg-9">
								<select class="form-select mb-2" aria-label="Default select example">
									<option selected>FCL</option>
									<option value="1">LCL</option>
									<option value="2">BULK</option>
								
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Incoterm</label>
							</div>
							<div class="col-lg-9">
								<select class="form-select mb-3" aria-label="Default select example">
									<option selected>FCL</option>
									<option value="1">LCL</option>
									<option value="2">BULK</option>
								
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Total Gross Weight</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control form-control-sm" id="nameInput" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Total Net Weight</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group input-group-sm">
									<input type="text" class="form-control form-control-sm" id="contactNumber" placeholder="+91 9876543210" style="height:20px;">
									<select class="form-select mb-3" aria-label="Default select example">
										<option selected>FCL</option>
										<option value="1">LCL</option>
										<option value="2">BULK</option>
									
									</select>
								</div>
							</div>
						</div>
						
					
						
						
					</div>
					

					<div class="col-lg-6">
						<p class="text-muted">Exporter</p>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="timeInput" class="form-label">Name</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group">
									<input type="text" class="form-control" aria-label="Recipient's username with two button addons">
									<button class="btn btn-primary" type="button">...</button>
									<button class="btn btn-success" type="button">Ref</button>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Contact</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="nameInput" placeholder="Enter your name">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Address</label>
							</div>
							<div class="col-lg-9">
								<textarea class="form-control" id="meassageInput" rows="3" placeholder="Enter your message"></textarea>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Country</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="nameInput" placeholder="Enter your name">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Telphone</label>
							</div>
							<div class="col-lg-9">
								<input type="number" class="form-control" id="contactNumber" placeholder="+91 9876543210">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Mobile Phone</label>
							</div>
							<div class="col-lg-9">
								<input type="number" class="form-control" id="contactNumber" placeholder="+91 9876543210">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Fax</label>
							</div>
							<div class="col-lg-9">
								<input type="number" class="form-control" id="contactNumber" placeholder="+91 9876543210">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Email</label>
							</div>
							<div class="col-lg-9">
								<input type="email" class="form-control" id="leaveemails" placeholder="Enter your email">
							</div>
						</div>
						
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Remark</label>
							</div>
							<div class="col-lg-9">
								<textarea class="form-control" id="meassageInput" rows="3" placeholder="Enter your message"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="text-end">
						<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$('#x').datepicker({
		format: 'yyyy-mm-dd',
		autoclose: true
	});
</script>
