<div id='header'>
	<table width="100%">
		<tr>
			<td style="width:30%">
				<img src='assets/img/LogoBPJPH.gif' width='270px'>
			</td>
			<td style="text-align: right;" valign="top" width="70%">
				<div style="font-family:arial; font-weight:bold;">		
				
					<h4>PERMOHONAN VERIFIKASI</h4>
					<h5><i>VERIFICATION REQUEST</i></h5>
					<h6>VR No. {$vr_submission_no}</h6>
					<div style="font-size:9.5px">{$dataDetail.description}<br>
					<i>{$dataDetail.description2}</i>
					</div>
				</div>
			</td>
			<td align="right" >
				<!--img src='assets/img/LogoBPJPH.gif' width='250px'-->
			</td>
		</tr>
		<tr>
			<td colspan='3'><hr /></td>
		</tr>
	</table>
</div> 