<div class="col-lg-12">
    <div class="card">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Verification Request Form</h4>
            <div class="flex-shrink-0">
                <div class="form-check form-switch form-switch-right form-switch-md">
                   
                   
                </div>
            </div>
        </div><!-- end card header -->
        <div class="card-body">
			<form action="" name="frm-vreq" id="frm-vreq">
				<div class="row">
					<div class="col-lg-6">
						<p class="text-muted">Description of goods</p>
						<div class="row mb-3" hidden>
							<div class="col-lg-3">
								<label for="nameInput" class="form-label">HS Module Method</label>
							</div>
							<div class="col-lg-9">
								<div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked="">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                       HS Module Ref.
                                    </label>
                                </div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="websiteUrl" class="form-label">Detail of Commodity</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group">
                                    <input type="text" class="form-control" name="dhs_title" id="dhs_title" required>
                                    <input type="hidden" class="form-control" name="dhs_id" id="dhs_id">
                                    <a class="btn btn-primary load_modal" mod="hs-module" judul_header="HS Module" judul_body="" >...</a>
                                    
                                </div>
							</div>
						</div>
						
						<p class="text-muted">Importer</p>
						
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="dateInput" class="form-label">NPWP</label>
							</div>
							<div class="col-lg-9">
								<p>{$auth.npwp}</p>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="dateInput" class="form-label">Name</label>
							</div>
							<div class="col-lg-9">
								<p>{$auth.COMPANY_NAME}</p>
							</div>
						</div>
						
						<p class="text-muted">Supplier</p>
						
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="timeInput" class="form-label">Name</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group">
                                    <input type="text" class="form-control" name="name_supplier" id="name_supplier">
                                    <input type="hidden" class="form-control" name="item_no" id="item_no">
                                    <a class="btn btn-primary load_modal" mod="supplier" judul_header="Supplier" judul_body="" >...</a>
                                    
                                </div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label" >Contact</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" name="contact_supplier" id="contact_supplier" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Address</label>
							</div>
							<div class="col-lg-9">
								<textarea class="form-control" name="address_supplier" id="address_supplier" rows="3" placeholder=""></textarea>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Country</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" name="country_supplier" id="country_supplier" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Telphone</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" name="phone_supplier" id="phone_supplier" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Mobile Phone</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" name="mobile_phone_supplier" id="mobile_phone_supplier" placeholder="">
							</div>
						</div>
						<!--div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Fax</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" name="fax_supplier" id="fax_supplier" placeholder="">
							</div>
						</div-->
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Email</label>
							</div>
							<div class="col-lg-9">
								<input type="email" class="form-control" name="email_supplier" id="email_supplier" placeholder="Enter your email">
							</div>
						</div>
						
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="meassageInput" class="form-label"></label>
							</div>
							<div class="col-lg-9">
								<!--textarea class="form-control" id="meassageInput" rows="3" placeholder="Enter your message"></textarea-->
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="nameInput" class="form-label">Transport Mode</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group input-group-sm">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="transportation_mode" id="transportation_mode" value="AIR">
										 <label class="form-check-label" for="mode">
										   AIR
										</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="transportation_mode" id="transportation_mode" value="SEA">
										 <label class="form-check-label" for="mode">
										   SEA
										</label>
									</div>
									<select class="form-select mb-3" aria-label="Default select example" name="package_type" id="package_type">
											<option selected value="FCL">FCL</option>
											<option value="LCL">LCL</option>
											<option value="BULK">BULK</option>
										
										</select>
								</div>
								
								
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="timeInput" class="form-label">Loading Port</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group">
                                    <input type="text" class="form-control" name="port_loading" id="port_loading">
                                    <input type="hidden" class="form-control" name="port_code" id="port_code">
                                    <a class="btn btn-primary load_modal" mod="port_loading" judul_header="Loading Port" judul_body="" >...</a>
                                </div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="timeInput" class="form-label">Discharge Port</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group">
                                    <input type="text" class="form-control" name="port_discharge" id="port_discharge">
                                    <input type="hidden" class="form-control" name="port_code_discharge" id="port_code_discharge">
                                    <a class="btn btn-primary load_modal" mod="port_discharge" judul_header="Discharge Port" judul_body="" >...</a>
                                </div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="timeInput" class="form-label">Shipment Date</label>
							</div>
							<div class="col-lg-9">
                                <div>
                                    <input type="text" class="form-control" name="shipment_date" id="x">
                                </div>
                            </div>
						</div>
					</div>
					<div class="col-lg-6">
						<p class="text-muted">Exporter</p>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="timeInput" class="form-label">Name</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group">
                                    <input type="text" class="form-control" name="name_exporter" id="name_exporter">
                                    <input type="hidden" class="form-control" name="item_no_exporter" id="item_no_exporter">
                                    <a class="btn btn-primary load_modal" mod="exporter" judul_header="Exporter" judul_body="" >...</a>
                                    
                                </div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Contact</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="contact_exporter" name="contact_exporter" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Address</label>
							</div>
							<div class="col-lg-9">
								<textarea class="form-control" id="address_exporter" name="address_exporter" rows="3" placeholder=""></textarea>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">City</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="exporter_city" name="exporter_city" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Country</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="country_exporter" name="country_exporter" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Telphone</label>
							</div>
							<div class="col-lg-9">
								<input type="number" class="form-control" id="tlp_exporter" name="tlp_exporter" placeholder="">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Mobile Phone</label>
							</div>
							<div class="col-lg-9">
								<input type="number" class="form-control" id="mobile_phone_exporter" name="mobile_phone_exporter" placeholder="">
							</div>
						</div>
						<!--div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Fax</label>
							</div>
							<div class="col-lg-9">
								<input type="number" class="form-control" id="fax_exporter" name="fax_exporter" placeholder="">
							</div>
						</div-->
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Email</label>
							</div>
							<div class="col-lg-9">
								<input type="email" class="form-control" id="email_exporter" name="email_exporter" placeholder="Enter your email">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="meassageInput" class="form-label"></label>
							</div>
							<div class="col-lg-9">
								<!--textarea class="form-control" id="meassageInput" rows="3" placeholder="Enter your message"></textarea-->
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Order/Invoice</label>
							</div>
							<div class="col-lg-9">
								<input type="text" class="form-control" placeholder="" name="invoice_no" id="invoice_no">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="timeInput" class="form-label">IP/IT/SPI</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group">
                                    <input type="text" class="form-control" name="import_license_no" id="import_license_no">
                                    <a class="btn btn-primary load_modal" mod="ip" judul_header="IP/IT/SPI" judul_body="" >...</a>
                                </div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Total Value</label>
							</div>
							<div class="col-lg-9">
								<input type="number" class="form-control" name="total_value" placeholder="" id="total_value">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Currency</label>
							</div>
							<div class="col-lg-9">
								<select class="form-select mb-3" name="curr_code" id="curr_code" aria-label="Default select example">
									{foreach from=$curr item=i}
									<option value="{$i.curr_code}">{$i.curr_code} ({$i.Description})</option>
									{/foreach}
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Incoterm</label>
							</div>
							<div class="col-lg-9">
								<select class="form-select mb-3" name="incoterm" id="incoterm" aria-label="Default select example">
									<option value="">--Please Select--</option>
									<option value="CFR">(CFR) COST AND FREIGHT</option>
									<option value="CIF">(CIF) COST INSURANCE FREIGHT</option>
									<option value="CIP">(CIP) CARRIAGE AND INSURANCE PAID TO</option>
									<option value="CPT">(CPT) CARRIAGE PAID TO</option>
									<option value="DAP">(DAP) DELIVERED AT PLACE</option>
									<option value="DAT">(DAT) DELIVERED AT TERMINAL</option>
									<option value="DDP">(DDP) DELIVERED DUTY PAID</option>
									<option value="DDU">(DDU) DELIVERED DUTY UNPAID</option>
									<option value="EXW">(EXW) EX WORKS</option>
									<option value="FAS">(FAS) FREE ALONGSIDE SHIP</option>
									<option value="FCA">(FCA) FREE CARRIER</option>
									<option value="FOB">(FOB) FREE ON BOARD</option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="contactNumber" class="form-label">Total Net Weight</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group input-group-sm">
									<input type="number" class="form-control form-control-sm" id="tot_net_weight" name="tot_net_weight" placeholder="" style="height:20px;">
									<select class="form-select mb-3" name="tot_net_weight_unit" id="tot_net_weight_unit" aria-label="Default select example">
										<option value="KGM">KGM</option>
										<option value="TNE">TNE</option>
										<option value="GRM">GRM</option>
										<option value="NT">NT</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="nameInput" class="form-label">Partial Shipment</label>
							</div>
							<div class="col-lg-9">
								<div class="input-group">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="partial" id="partial" value="Allowed">
										 <label class="form-check-label" for="mode">
										   Allowed
										</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="partial" id="partial" value="Not Allowed">
										 <label class="form-check-label" for="mode">
										   Not Allowed
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-3">
								<label for="leaveemails" class="form-label">Remark</label>
							</div>
							<div class="col-lg-9">
								<textarea class="form-control" id="remark" name="remark" rows="3" placeholder=""></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="text-end">
						<a id="submit_vreq" class="btn btn-primary">Submit</a>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
$('#x').datepicker({
	format: 'yyyy-mm-dd',
	autoclose: true
});

$('#submit_vreq').bind('click',function(){

// Get form
	var form = $('#frm-vreq')[0];
	
	// Create an FormData object 
	var data = new FormData(form);

	// If you want to add an extra field for the FormData
	//data.append("CustomField", "This is some extra data, testing");

	// disabled the submit button
   // $("#btnSubmit").prop("disabled", true);

	$.ajax({
		type: "POST",
		enctype: 'multipart/form-data',
		url:'{$base_url}/submit_vr',
		data: data,
		processData: false,
		contentType: false,
		cache: false,
		timeout: 600000,
		beforeSend:function(){
			//$('#modal_loading').modal('show');
			//launchpreloader();
			var valid=form.reportValidity();
			if(!valid){
				alert('Isi Form Yang Kosong');
				return false;
			}
		},
		complete:function(){
			//stopPreloader();
			$('#modal_loading').modal('hide');
		},
		success:function(result){
			if(result==1){
				window.location.href = '{$base_url}/list-vreq';
				$('#modal_loading').modal('hide');
			}else{
				alert('Data Failed');
			}
		}
	});
});
	
</script>
